<% /* Note: This is injected into `views/layouts/layout-email.ejs` */
/*
Le temps alloué à la confirmation de l'adresse électronique lors de votre inscription sur le site Поале Elle se termine.
Au bout de 6 heures, votre compte sera annulé.
  Si pour vous, cette information n'est pas d'actualité, il suffit de ne pas prêter attention à ce message.
  Si vous voulez confirmer votre adresse e-mail, vous devez aller dans la lettre qui
  vous avez envoyé lors de votre inscription et cliquez sur le bouton de confirmation.

  Si vous ne parvenez pas à trouver un mail envoyé lors de votre inscription, veuillez contacter ou
  inscrivez-vous à nouveau.
*/
%>
<p style="margin-bottom: 25px;"><%= __('Dear') %> <%= user.fullName %>,</p>
<p style="margin-bottom: 25px;">
  <%= __('The time allowed to confirm the email address when registering on the Poale Ell website ends. After 6 hours, your account will be canceled.') %>
 <br><%= __('If this information is not relevant to you, then just do not pay attention to this message.') %>
 <br><%= __('If you want to confirm your email address, you should go to the email that was sent to you during registration and click the confirm button.') %>
</p><p>
  <%= __('If you could not find the letter sent during registration, please contact us or register again.') %>
</p>
<p style="margin-bottom: 5px;"><%= __('Sincerely') %>,</p>
<p style="margin-top: 0px;"><%= __('The Poale Ell Team') %></p>
