<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;"><%= __('Welcome') %>, <%= fullName %>!</p>
<p style="margin-bottom: 25px;"><%= __("This is your credentials") %>.<br>
  <b style="color: #a52a2a"><%= __("IMPORTANT! Be sure to")%> <a style="color: #00ACC4; word-wrap: break-word;"  href="<%= url.resolve(sails.config.custom.baseUrl,'/account')%>"><%=__("change the password") %></a>  <%=__("after authorization") %></b>:</p>
<div style="margin-bottom: 25px; text-align: center;">
  <p style="color: #00ACC4;
    display: inline-block;
    font-size: 1.1em;
    padding: 10px 35px 10px;
    font-weight: 500;
    text-decoration: none;
    border-right: 2px dotted #00ACC4;" ><%= __('Login') %>: <%= login %></p>
  <p style="color: #00ACC4;
    display: inline-block;
    font-size: 1.1em;
    padding: 10px 35px 10px;
    font-weight: 500;
    text-decoration: none;" ><%= __('Password') %>: <%= pass %></p>
</div>
<p style="margin-bottom: 25px;"><%= __('Log In') %>: <a style="color: #00ACC4; word-wrap: break-word;" href="<%= url.resolve(sails.config.custom.baseUrl,'/login')%>"><%= url.resolve(sails.config.custom.baseUrl,'/login')%></a></p>
<p style="margin-bottom: 5px;"><%= __('Sincerely') %>,</p>
<p style="margin-top: 0px;"><%= __('The Poale Ell Team') %></p>
