<div id="pricing" v-cloak>

  <!-- start banner Area -->
  <section class="banner-area relative">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white"><%= __('Pricing Plan') %></h1>
          <p><%= __('A small range of services from the nursery and price priorities for the sale of puppies') %></p>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <!-- Start Service Area -->
  <section class="service-area section-gap-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3><%= __('Our Services') %></h3>
            <h2><span><%= __('What We Offer') %></span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-button"></i>
              <h4 class="ml-3"><%= __('Overexposure of Dogs') %></h4>
            </div>
            <p><%= __('If you need to go on a short trip, we will gladly take our dog for a few days for free.') %></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-water"></i>
              <h4 class="ml-3"><%= __('Natural Nutrition') %></h4>
            </div>
            <p><%= __('All dogs of the kennel eat only natural food. Meat, vegetables, fruits. Individual approach.') %></p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-ring"></i>
              <h4 class="ml-3"><%= __('Return of the Dog') %></h4>
            </div>
            <p><%= __('Always ready to take back our dog, if for some reason you do not have the opportunity to continue to contain a pet.') %></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-art"></i>
              <h4 class="ml-3"><%= __('Dog Show') %></h4>
            </div>
            <p><%= __('Promising dogs, with the consent of the owner - display at exhibitions at the expense of the kennel.') %></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-shirt"></i>
              <h4 class="ml-3"><%= __('Fashion Photography') %></h4>
            </div>
            <p><%= __('Advise a professional photographer for your pet photo shoot.') %></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-content"></i>
              <h4 class="ml-3"><%= __('Event Coverage') %></h4>
            </div>
            <p><%= __('Permanent support of the owners, discounts on the purchase of medicines, consumables, feed, etc.') %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Area -->

  <!-- Start Pricing Area -->
  <section class="pricing-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3><%= __('Pricing Plan') %></h3>
            <h2><span><%= __('Choose Your Dog') %></span></h2>
            <p ><ul><li><span class="ti-close cross mx-2 text-danger"></span><%= __('Not included in the price') %></li></ul></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="pricing_item">
            <h3 class="p_title"><%= __('Hairless Dam') %></h3>
            <p class="p_criteria"><%= __('What is included in the price') %>.</p>
            <h1 class="p_price">&euro;1500</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> <%= __('Vaccination, anthelmintic') %></li>
                <li><span class="ti-check"></span> <%= __('Pedigree (puppy card)') %> </li>
                <li><span class="ti-check"></span> <%= __('Clear Tests PRA, PLL') %></li>
                <li><span class="ti-check"></span> <%= __('The gift collar brand') %></li>
                <li><span class="ti-check"></span><%= __('Contract of sale') %> </li>
                <li><span class="ti-check"></span> <%= __('Nursery help') %></li>
                <li><span class="ti-close cross"></span> <%= __('Erect ears') %></li>
                <li><span class="ti-close cross"></span> <%= __('Delivery') %> </li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Detailed">
                <span>D</span>
                <span>e</span>
                <span>t</span>
                <span>a</span>
                <span>i</span>
                <span>l</span>
                <span>e</span>
                <span>d</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="pricing_item">
            <h3 class="p_title">Hairless Sire</h3>
            <p class="p_criteria"><%= __('What is included in the price') %>.</p>
            <h1 class="p_price">&euro;1000</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> <%= __('Vaccination, anthelmintic') %></li>
                <li><span class="ti-check"></span> <%= __('Pedigree (puppy card)') %> </li>
                <li><span class="ti-check"></span> <%= __('Clear Tests PRA, PLL') %></li>
                <li><span class="ti-check"></span> <%= __('The gift collar brand') %></li>
                <li><span class="ti-check"></span><%= __('Contract of sale') %> </li>
                <li><span class="ti-check"></span> <%= __('Nursery help') %></li>
                <li><span class="ti-close cross"></span> <%= __('Erect ears') %></li>
                <li><span class="ti-close cross"></span> <%= __('Delivery') %> </li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Detailed">
                <span>D</span>
                <span>e</span>
                <span>t</span>
                <span>a</span>
                <span>i</span>
                <span>l</span>
                <span>e</span>
                <span>d</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="pricing_item">
            <h3 class="p_title">Powderpuff Dam</h3>
            <p class="p_criteria"><%= __('What is included in the price') %>.</p>
            <h1 class="p_price">&euro;1000</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> <%= __('Vaccination, anthelmintic') %></li>
                <li><span class="ti-check"></span> <%= __('Pedigree (puppy card)') %> </li>
                <li><span class="ti-check"></span> <%= __('Clear Tests PRA, PLL') %></li>
                <li><span class="ti-check"></span> <%= __('The gift collar brand') %></li>
                <li><span class="ti-check"></span><%= __('Contract of sale') %> </li>
                <li><span class="ti-check"></span> <%= __('Nursery help') %></li>
                <li><span class="ti-close cross"></span> <%= __('Erect ears') %></li>
                <li><span class="ti-close cross"></span> <%= __('Delivery') %> </li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Detailed">
                <span>D</span>
                <span>e</span>
                <span>t</span>
                <span>a</span>
                <span>i</span>
                <span>l</span>
                <span>e</span>
                <span>d</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="pricing_item">
            <h3 class="p_title">Powderpuff Sire</h3>
            <p class="p_criteria"><%= __('What is included in the price') %>.</p>
            <h1 class="p_price">&euro;800</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> <%= __('Vaccination, anthelmintic') %></li>
                <li><span class="ti-check"></span> <%= __('Pedigree (puppy card)') %> </li>
                <li><span class="ti-check"></span> <%= __('Clear Tests PRA, PLL') %></li>
                <li><span class="ti-check"></span> <%= __('The gift collar brand') %></li>
                <li><span class="ti-check"></span><%= __('Contract of sale') %> </li>
                <li><span class="ti-check"></span> <%= __('Nursery help') %></li>
                <li><span class="ti-close cross"></span> <%= __('Erect ears') %></li>
                <li><span class="ti-close cross"></span> <%= __('Delivery') %> </li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Detailed">
                <span>D</span>
                <span>e</span>
                <span>t</span>
                <span>a</span>
                <span>i</span>
                <span>l</span>
                <span>e</span>
                <span>d</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Pricing Area -->
</div>
<%- /* Exposez server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
