<div id="account-overview" class="content" v-cloak>

  <% /* Диалоговое окно. Показывает фото профиля. */ %>
  <el-dialog :title="me.fullName"
             custom-class="avatar" :visible.sync="dialogTableVisible">
    <div class="demo-image__placeholder">
      <div class="menu-center">
        <!--<span class="demonstration">{{objOne.kennel}}</span>-->
        <el-row class="demo-avatar demo-basic">
          <el-col :span="24">
            <!--<div class="sub-title">circle</div>-->
            <div class="demo-basic--circle">
              <div class="block">
                <el-image :src="me.avatar">
                  <div slot="placeholder" class="image-slot">
                    Loading<span class="dot">...</span>
                  </div>
                </el-image>
                <!--<el-avatar :size="50" :src="objOne.imageSrc"></el-avatar>-->
              </div>
            </div>
          </el-col>
        </el-row>
        <!--    <el-image :src="objOne.imageSrc">
            <div slot="placeholder" class="image-slot">
              Loading<span class="dot">...</span>
            </div>
          </el-image>-->
      </div>
    </div>
  </el-dialog>


  <div class="container">
    <div class="row">
      <div class="col"><h1><%= __('My account') %>
          <!--<small v-if="group" class="text-success">(status: {{group}})</small>-->
          <!--<small v-else class="text-success">(status: {{group}})</small>-->
        </h1></div>
      <div class="col-sm-6  flex justify-content-end">
        <div v-if="account.groups" class="alert"
             :class="[account.groups === 'user'  ? 'alert-secondary' : account.groups === 'breeder' ? 'alert-success' : account.groups === 'owner' ? 'alert-warning' : '']"
             role="alert">
          <h4
            :class="[account.groups === 'user'  ? 'text-secondary' : account.groups === 'breeder' ? 'text-success' : account.groups === 'owner' ? 'text-warning' : account.groups === 'admin' ? 'text-warning' : '']"><%= __('Status') %>
            : {{account.groups}}</h4>
        </div>
        <div v-else class="alert alert-light" role="alert">
          status: {{account.groups}}
        </div>
      </div>
    </div>

    <hr/>
    <!--<div class="row">-->
    <!--<div class="col-sm-4 offset-sm-4">-->
    <!--<div v-if="group" class="alert  text-center" :class="[group === 'user'  ? 'alert-secondary' : group === 'breeder' ? 'alert-success' : group === 'owner' ? 'alert-warning' : '']" role="alert">-->
    <!--<h4 :class="[group === 'user'  ? 'text-secondary' : group === 'breeder' ? 'text-success' : group === 'owner' ? 'text-warning' : '']">status: {{group}}</h4>-->
    <!--</div>-->
    <!--<div v-else class="alertalert-light text-center" role="alert">-->
    <!--status: {{group}}-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Personal information</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/profile">
            <%= __('Edit profile') %></a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3"><%= __('Name') %>:</div>
      <div class="col"><strong>{{me.fullName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Email:</div>
      <div class="col">
        <strong
          :class="[me.emailStatus === 'unconfirmed' || me.emailStatus === 'change-requested' ? 'text-muted' : '']">{{me.emailChangeCandidate
          ? me.emailChangeCandidate : me.emailAddress}}</strong>
        <span v-if="me.emailStatus === 'unconfirmed' || me.emailStatus === 'change-requested'"
              class="badge badge-pill badge-warning"><%= __('Unverified') %></span>
      </div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Password</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/password">
            <%= __('Change password') %></a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3"><%= __('Password') %>:</div>
      <div class="col"><strong>••••••••••</strong></div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Language</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button"
             href="/account/language"><%= __('Change language') %></a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3"><%= __('Language') %>:</div>
      <div class="col"><strong>{{me.preferredLocale}}</strong></div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Avatar</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button"
             href="/account/avatar"><%= __('Change avatar') %></a>
        </span>
      </div>
    </div>
    <div class="row ">
      <div class="col-xl-3 col-md-3 col-5 pt-3"> {{ (formData.defaultIcon==='avatar') ? 'По умолчанию' : 'Сделать по умолчанию'}} :</div>
      <div class="col-xl-1 col-3 ">
        <ajax-form action="updateDefaultIcon" :syncing.sync="syncing" :cloud-error.sync="cloudError"
                   :handle-parsing="handleParsingIconForm" @submitted="submittedUpdateDefaultIcon()">
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" v-model="formData.defaultIcon" value="avatar"
                   class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">
            </label>
          </div>
          <ajax-button type="submit" :syncing="syncing" class="btn btn-primary btn-sm ml-1"><span class="ti-save"></span></ajax-button>
        </ajax-form>
      </div>
      <div class="photo-preview col-2">
        <el-link :underline="false" @click="dialogTableVisible=true">
          <div class="image-wrapper round">
            <img :src="me.avatar" class="personPhoto" alt="">
          </div>
        </el-link>
      </div>
    </div>
    <hr/>

    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Gravatar
          <el-tooltip class="item" effect="dark" content="<%= __('A Globally Recognized Avatar') %>. (https://ru.gravatar.com)"
                      placement="right-start">
            <i class="el-icon-question"></i>
          </el-tooltip>
        </h4>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-3 col-5 pt-3">{{ (formData.defaultIcon==='gravatar') ? 'По умолчанию' : 'Сделать по умолчанию'}}:</div>
      <div class="col-xl-1 col-3 ">


        <ajax-form action="updateDefaultIcon" :syncing.sync="syncing" :cloud-error.sync="cloudError"
                   :handle-parsing="handleParsingIconForm" @submitted="submittedUpdateDefaultIcon($event)">
          <div class="custom-control custom-radio">
            <input type="radio" v-model="formData.defaultIcon" id="customRadio1" class="custom-control-input" value="gravatar">
            <label class="custom-control-label" for="customRadio1"></label>
          </div>
          <ajax-button type="submit" :syncing="syncing" class="btn btn-primary btn-sm ml-1"><span class="ti-save"></span>
          </ajax-button>
        </ajax-form>
      </div>
      <div class="photo-preview col-2">
        <div class="image-wrapper round">
          <img :src="me.gravatar" class="personPhoto " alt="">
        </div>
      </div>
    </div>
    <hr/>
    <div class="row mb-3" v-if="isBillingEnabled">
      <div class="col-sm-6">
        <h4><%= __('Billing') %></h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <ajax-button :syncing="syncingOpenCheckout || syncingUpdateCard"
                       class="btn btn-sm btn-outline-info account-settings-button" @click="clickStripeCheckoutButton()">
            <span slot="syncing-state">
              <span v-if="syncingOpenCheckout"><%= __('Connecting') %>...</span>
              <span v-else><%= __('Updating') %>...</span>
            </span>
            <span slot="default"><%= me.hasBillingCard ? __('Change card') : __('Add card') %> </span>
          </ajax-button>
        </span>
      </div>
    </div>
    <div v-if="isBillingEnabled && me.hasBillingCard">
      <div class="row">
        <div class="col-3"><%= __('Credit card') %>:</div>
        <div class="col">{{me.billingCardBrand}} ending in <strong>{{me.billingCardLast4}}</strong> <a
            class="remove-button ml-2" @click="clickRemoveCardButton()">Remove</a></div>
      </div>
      <div class="row">
        <div class="col-3"><%= __('Expiration') %>:</div>
        <div class="col">{{me.billingCardExpMonth}}/{{me.billingCardExpYear}}</div>
      </div>
    </div>
    <div class="alert alert-danger" v-else-if="isBillingEnabled && cloudError">
      <%= __('There was an error updating your credit card information. Please check your information and try again, or') %>
      <a href="/contact"><%= __('contact support') %></a> <%= __('if the error persists') %>.
    </div>
    <div class="alert alert-warning" v-else-if="isBillingEnabled">
      <%= __('You have not linked a payment source to your account. In order to access paid features, you\'ll need to provide your credit card information. (Don\'t worry: you will only be charged when you\'ve reached the limit of your free plan.)') %>
    </div>
  </div>

  <% /* Confirm Remove Card Info Modal */ %>
  <modal v-if="removeCardModalVisible" @close="closeRemoveCardModal()" v-cloak>
    <div class="modal-header">
      <h5 class="modal-title"><%= __('Remove Card Info') %>?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="updateBillingCard" :syncing.sync="syncingRemoveCard" :cloud-error.sync="cloudError"
               :handle-parsing="handleParsingRemoveCardForm" @submitted="submittedRemoveCardForm()">


      <div class="modal-body">
        <p><%= __('Are you sure you want to remove your') %> {{me.billingCardBrand}} <%= __('ending in') %>
          <strong>{{me.billingCardLast4}}</strong>?
        </p>
        <p class="text-muted"><%= __('This may restrict your access to paid features') %>.</p>
        <p class="text-danger" v-if="cloudError">
          <small><%= __('An error occured while processing your request. Please check your information and try again, or') %>
            <a href="/contact"><%= __('contact support') %></a> <%= __('if the error persists') %>.
          </small>
        </p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1"><%= __('Cancel') %></button>
        <ajax-button type="submit" :syncing="syncingRemoveCard"
                     class="btn btn-danger ml-1"><%= __('Remove') %></ajax-button>
      </div>
    </ajax-form>
  </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>



