<div id="dog" class="content" v-cloak >
  <div v-bind:class="{ winner: isWinner }">
  <% /* Шапка страницы */ %>
  <section class="banner-area relative"  >
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white">{{dog.fullName}}</h1>
          <p>{{dog.dateBirth | getAge}}</p>
          <p class="gender" v-if="dog.gender === 'sire'"><i class="el-icon-male"></i></p>
          <p class="gender" v-else><i class="el-icon-female"></i></p>
          <p></p>
        </div>
      </div>
    </div>
  </section>

  <% /* Главное Фото */ %>
  <section class="service-area section-gap">
    <div class="container">
      <div class="portfolio_details_inner ">
        <div class="row">
          <% /* Хлебные крошки */ %>
          <div class="col-md-6">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item><a href="/"><%= __('Home-menu') %></a></el-breadcrumb-item>
              <el-breadcrumb-item><a href="/dogs/chinese-crested"><%= __('Dogs') %></a></el-breadcrumb-item>
              <el-breadcrumb-item> {{dog.fullName}}</el-breadcrumb-item>
              <!--<el-breadcrumb-item>promotion detail</el-breadcrumb-item>-->
            </el-breadcrumb>
          </div>
          <div class="col-md-6">
            <el-row type="flex" class="row-bg" justify="end">

              <% /* Заводчик Владелец */ %>
              <el-col :span="21">
                <el-row type="flex" class="row-bg" justify="end">
                  <el-col :span="11">
                    <h5 class="text-center">
                      <small>breeder:</small>
                      Olga Petrova
                    </h5>
                  </el-col>
                  <el-col :span="11">
                    <h5 class="text-center">
                      <small>owner:</small>
                      Alexander Petrova
                    </h5>
                  </el-col>
                </el-row>

              </el-col>

              <% /* Кнопки управления */ %>
              <el-col :span="1">
                <div v-if="me.isAdmin || me.isSuperAdmin" class="grid-content bg-purple">
                  <el-dropdown @command="handleCommand">
                            <span class="el-dropdown-link">
                              <el-link :underline="false"> <i class="el-icon-more el-icon--right"></i></el-link>
                            </span>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item icon="el-icon-camera-solid" :command="{com:'c'}">
                        <%= __('Add photo') %>
                      </el-dropdown-item>
             <!--         <el-dropdown-item icon="el-icon-present" :command="{com:'g'}">
                        <%= __('Add presentation') %>
                      </el-dropdown-item>-->
                    </el-dropdown-menu>
                  </el-dropdown>
                </div>
              </el-col>
            </el-row>
          </div>
        </div>
        <% /*ГЛАВНАЯ КАРТИНКА */ %>
        <div class="menu-center">
          <!--<div><img src="/images/crown.png" alt=""></div>-->
          <img :src="dog.images[dog.cover].imageSrc" class="img-fluid" alt="dog.images[dog.cover].name">

        </div>
      </div>
      </div>
  </section>

  <% /* Content */ %>
  <section class="portfolio_details_area section-gap">
    <div class="container">
      <div class="portfolio_details_inner ">
        <div class="row">
          <% /* КАРТИНКИ СОБАКИ */ %>
          <div class="col menu-center">
            <div v-for="(img ,index, key) in dog.images" :key="index + '-DOGS'">
              <picture class="">
                <source media="(min-width: 1240px)" :srcset="dog.imagesMin[index].imageSrc">
                <source media="(max-width: 414px)" :srcset="dog.imgI7[index].imageSrc">
                <img :src="img.imageSrc" class="portrait" :alt="img.name">
              </picture>
            </div>
          </div>
        </div>
        <div class="row ">
          <% /* Полное описание собаки */ %>
          <div class="col ">
            {{dog.description}}
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--<router-view></router-view>-->
</div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
