<div id="litter" class="content" v-cloak>
  <% /* Диалоговое окно родословная (PEDIGREE)*/ %>
  <el-dialog
    title="<%= __('Pedigree') %>"
    :visible.sync="dialogPedigreeVisible"
    :fullscreen="true"
    top="1vh"
    center
    :before-close="handlerCloseDialogSlider"
    v-if="virtualPageSlug==='pedigree'"
  >
    <div class="d-flex justify-content-end">
      <!--<el-switch-->
      <!--style="display: block"-->
      <!--v-model="autoplay"-->
      <!--active-color="#13ce66"-->
      <!--inactive-color="#ff4949"-->
      <!--active-text="Autoplay"-->
      <!--inactive-text="Disable ">-->
      <!--</el-switch>-->
    </div>
    <!--<span>It should be noted that the content will not be aligned in center by default</span>-->
    <div class="block">

      <!--<span class="demonstration">Switch when indicator is clicked</span>-->
      <!-- <el-carousel
         :autoplay="autoplay"
         trigger="click"
         height="80vh"
         :initial-index="indexSlide"
         :next="handlerSetActiveSlider(indexPhoto)"
       >
         <el-carousel-item v-for="(item, key, index) in photos" :key="index">
           <h3 class="small text-center">{{ item.label }}</h3>
           <div class="my-flex-cont">
             &lt;!&ndash;<div class="my-flex-box">&ndash;&gt;
             <el-image
               :src="item.imageSrc"
               :fit="fit"></el-image>
             &lt;!&ndash;<div class="my-flex-cont">&ndash;&gt;
             &lt;!&ndash;<div class="my-flex-box">&ndash;&gt;
             &lt;!&ndash;<img :src="item.imageSrc" class="gallery" alt="">&ndash;&gt;
             &lt;!&ndash;</div>&ndash;&gt;
           </div>
           &lt;!&ndash;</div>&ndash;&gt;
         </el-carousel-item>
       </el-carousel>-->
    </div>
    <!--<span slot="footer" class="dialog-footer">-->
    <!--<el-button type="primary" @click="handlerCloseDialogSlider()" ><%= __('Close') %></el-button>-->
    <!--</span>-->
  </el-dialog>
  <% /* Диалоговое окно добавить фотосессию */ %>
  <el-dialog title="<%= __('Add photo shoot') %>"
             :visible.sync="dialogAddedPhotoSession">
    <el-form :label-position="'top'"
             :model="ruleForm" :rules="rules" ref="ruleForm"
             label-width="120px" class="demo-ruleForm">
      <% /*Название фотосессии*/ %>
      <el-form-item label="<%= __('Name photoshoot puppies') %>" prop="sessionName">
        <el-input clearable :maxlength="photoSetNameLength" autofocus="true" show-word-limit
                  v-model="ruleForm.sessionName"></el-input>
      </el-form-item>
      <% /*Описание фотосессии*/ %>
      <el-form-item label="<%= __('Description of the photo shoot') %>"
                    prop="descriptionPhotoSession">
        <el-input clearable :maxlength="photoSetDescriptionLength" show-word-limit type="textarea"
                  v-model="ruleForm.descriptionPhotoSession"></el-input>
      </el-form-item>
      <el-divider content-position="left"><%= __('Puppies this litter') %></el-divider>
      <div class="photo-uploader">
        <div class="row">
          <div class="col-md-12 ">
            <% /*Загрузка фото щенков*/ %>
            <el-upload
              action="/api/v1/files/upload"
              list-type="picture-card"
              multiple
              ref="uploadPuppies"
              :on-preview="handlePictureCardPreview"
              :before-upload="beforeUpload"
              :limit="limit"
              :on-success="handleSuccessPuppies"
              :on-exceed="handleExceedPuppies"
              :on-remove="handleRemovePuppies">
              <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible">
              <img width="100%" :src="dialogImageUrl" alt="">
            </el-dialog>


            <!------------------------------------------------------------------------------->
          </div>
        </div>
      </div>
      <!--<el-form-item label="Zones" :label-width="formLabelWidth">-->
      <!--<el-select v-model="form.region" placeholder="Please select a zone">-->
      <!--<el-option label="Zone No.1" value="shanghai"></el-option>-->
      <!--<el-option label="Zone No.2" value="beijing"></el-option>-->
      <!--</el-select>-->
      <!--</el-form-item>-->
    </el-form>
    <span slot="footer" class="dialog-footer">
    <!--<el-button @click="dialogFormVisible = false"><%= __('Cancel') %></el-button>-->
    <el-button type="primary" @click="updateForm('ruleForm')"><%= __('Save') %></el-button>
  </span>
  </el-dialog>
  <% /* Диалоговое окно добавить презентацию */ %>
  <el-dialog title="<%= __('Add presentation') %>"
             :visible.sync="dialogAddedPresentation">
    <el-form :label-position="'top'"
             :model="ruleForm" :rules="rules" ref="ruleForm"
             label-width="120px" class="demo-ruleForm">
      <% /*URL на PDF файл презентации*/ %>
      <el-form-item label="<%= __('URL') %> (<%= __('add a link to the pdf file of your presentation') %>)"
                    prop="presentationUrl">
        <el-input :maxlength="presentationUrlLength"
                  clearable
                  autofocus="true"
                  show-word-limit
                  placeholder="https://drive.google.com/open?id=1tnZHWrsak3sy_gzz2wt8I7tZb44FC0cW"
                  v-model="ruleForm.presentationUrl"></el-input>
      </el-form-item>
      <% /*Наименование презентации*/ %>
      <el-form-item label="<%= __('Presentation Name') %>" prop="presentationName">
        <el-input clearable :maxlength="photoSetNameLength" autofocus="true" show-word-limit
                  v-model="ruleForm.presentationName"></el-input>
      </el-form-item>
      <% /*Описание презентации*/ %>
      <el-form-item label="<%= __('Presentation description') %>"
                    prop="descriptionPresentation">
        <el-input clearable :maxlength="photoSetDescriptionLength" show-word-limit type="textarea"
                  v-model="ruleForm.descriptionPresentation"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
    <el-button @click="dialogAddedPresentation = false"><%= __('Cancel') %></el-button>
    <el-button type="primary" @click="addedPresentForm('ruleForm')"><%= __('Save') %></el-button>
  </span>
  </el-dialog>
  <% /* Диалоговое окно удалить фотосессию */ %>
  <el-dialog title="<%= __('Delete photo shoot') %>"
             :visible.sync="dialogDeletePhotoSession" center>
    <el-form :label-position="'top'"
             :model="ruleForm" ref="ruleForm"
             label-width="120px" class="demo-ruleForm text-center">
      {{nameSessionPhoto}}
    </el-form>
    <span slot="footer" class="dialog-footer">
    <el-button @click="dialogDeletePhotoSession = false"><%= __('Cancel') %></el-button>
    <el-button type="primary" @click="deleteForm('ruleForm')"><%= __('Confirm') %></el-button>
  </span>
  </el-dialog>
  <% /* Диалоговое окно Слайдер картинок NEW*/ %>
  <el-dialog
    :title="<%= __(`title`) %>"
    :visible.sync="dialogTableVisible"
    :fullscreen="true"
    top="1vh"
    :close="handlerCloseDialogSlider"
    center>
    <div class="d-flex justify-content-end">
      <el-switch
        style="display: block"
        v-model="autoplay"
        active-color="#13ce66"
        inactive-color="#ff4949"
        active-text="Autoplay"
        inactive-text="Disable ">
      </el-switch>
    </div>
    <div class="block">
      <el-carousel
        :autoplay="autoplay"
        trigger="click"
        height="80vh"
        setActiveItem
        :initial-index="indexSlide"
        :next="handlerSetActiveSlider(indexSlide)"
      >
        <el-carousel-item v-for="(item, key, index) in photos"
                          :key="index">
          <h3 class="small text-center">{{ item.label }}</h3>
          <div class="my-flex-cont">
            <el-image
              :src="item.imageSrc"
              :fit="fit">
              <!--<div slot="placeholder" class="image-slot" style="height:500px;">-->
              <!--Loading<span class="dot">...</span>-->
              <!--</div>-->
            </el-image>
          </div>
        </el-carousel-item>
      </el-carousel>
    </div>
  </el-dialog>
  <% /* Диалоговое окно Редактор названия фотосессии*/ %>
  <el-dialog title="<%= __('Photo Shoot Editor') %>" :visible.sync="dialogFormVisible">
    <el-form :label-position="'top'"
             :model="ruleForm" :rules="rules" ref="ruleForm"
             label-width="120px" class="demo-ruleForm">
      <% /*Название фотосессии*/ %>
      <el-form-item label="<%= __('Name photoshoot puppies') %>" prop="sessionName">
        <el-input :maxlength="photoSetNameLength" autofocus="true" show-word-limit
                  v-model="ruleForm.sessionName"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false"><%= __('Cancel') %></el-button>
    <el-button type="primary" @click="updatePhotoSetName('ruleForm')"><%= __('Save') %></el-button>
  </span>
  </el-dialog>
  <% /* Диалоговое окно Редактор описания фотосессии*/ %>
  <el-dialog title="<%= __('Photo Shoot Editor') %>"
             :visible.sync="dialogDescriptionPhotoSession">
    <el-form :label-position="'top'"
             :model="ruleForm" :rules="rules" ref="ruleForm"
             label-width="120px" class="demo-ruleForm">
      <% /*Описание фотосессии*/ %>
      <el-form-item label="<%= __('Description of the photo shoot') %>" prop="descriptionPhotoSession">
        <el-input :maxlength="photoSetDescriptionLength" show-word-limit type="textarea"
                  v-model="ruleForm.descriptionPhotoSession"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
    <el-button @click="dialogDescriptionPhotoSession = false"><%= __('Cancel') %></el-button>
    <el-button type="primary" @click="updatePhotoSetDescription('ruleForm')"><%= __('Save') %></el-button>
  </span>
  </el-dialog>
  <% /* Диалоговое окно Редактор помёта*/ %>
  <el-dialog title="<%= __('Litter Editor') %>" :visible.sync="dialogEditor">
    <el-form :label-position="'top'"
             :model="ruleForm" :rules="rules" ref="ruleForm"
             label-width="120px" class="demo-ruleForm">
      <!--<el-form-item label="<%= __('Description') %>" prop="description">-->
      <!--<el-input maxlength="60" show-word-limit v-model="ruleForm.description"></el-input>-->
      <!--</el-form-item>-->
      <% /*Краткое Описание Помёта*/ %>
      <el-form-item label="<%= __('Short Litter Description') %>" prop="subtitle">
        <el-input :maxlength="subtitleLength" show-word-limit type="textarea" v-model="ruleForm.subtitle"></el-input>
      </el-form-item>

      <% /*Описание Помёта*/ %>
      <el-form-item label="<%= __('Description') %>" prop="description">
        <el-input :maxlength="descriptionLitterLength" show-word-limit type="textarea"
                  v-model="ruleForm.description"></el-input>
      </el-form-item>

      <% /* Дата помёта NEW */ %>
      <el-form-item label="<%= __('Date of litter') %>" prop="born">
        <el-date-picker
          v-model="ruleForm.born"
          type="date"
          :format="i19p.getFormatDateLocale"
          placeholder="<%= __('Select date and time') %>"
        >
        </el-date-picker>
      </el-form-item>
      <!--<el-form-item label="Zones" :label-width="formLabelWidth">-->
      <!--<el-select v-model="form.region" placeholder="Please select a zone">-->
      <!--<el-option label="Zone No.1" value="shanghai"></el-option>-->
      <!--<el-option label="Zone No.2" value="beijing"></el-option>-->
      <!--</el-select>-->
      <!--</el-form-item>-->
    </el-form>
    <span slot="footer" class="dialog-footer">
    <el-button @click="dialogEditor = false"><%= __('Cancel') %></el-button>
    <el-button type="primary" @click="submitForm('ruleForm')"><%= __('Save') %></el-button>
  </span>
  </el-dialog>
  <% /* Modal "Подтвердить удаление презентации" */ %>
  <modal v-if="confirmDeletePresentationModalOpen && selectedLitter" v-cloak key="delete"
         @close="closeDeletePresentationModal()">
    <div class="modal-header">
      <h5 class="modal-title"><%= __('Remove this') %>?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="destroyOnePresentation"
               :syncing.sync="syncing"
               :cloud-error.sync="cloudError"
               :handle-parsing="handleParsingDeletePresentationForm"
               @submitted="submittedDeletePresentationForm()">
      <div class="modal-body">
        <p><%= __('Are you sure you want to remove this') %> {{selectedLitter.label || 'item'}}?</p>
        <p class="text-muted"
           v-if="selectedLitter.borrowedBy"><%= __('We will no longer be able to assist with the return of this item, so you will need to contact') %>
          {{selectedLitter.borrowedBy.fullName}} <%= __('directly to coordinate') %>.</p>
        <p v-else><%= __('This item will no longer be available to share with friends') %>.</p>
        <p class="text-danger" v-if="cloudError">
          <small><%= __('An error occured while processing your request. Please check your information and try again, or') %>
            <a
              href="/contact"><%= __('contact support') %></a> <%= __('if the error persists') %>.
          </small>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary mr-1" data-dismiss="modal"><%= __('Nevermind') %></button>
        <button type="submit" class="btn btn-danger ml-1"><%= __('Remove') %></button>
      </div>
    </ajax-form>
  </modal>
  <% /* Modal "Confirm Delete Litter"  */ %>
  <modal v-if="confirmDeleteLitterModalOpen && selectedLitter" v-cloak key="delete"
         @close="closeDeleteLitterModal()">
    <div class="modal-header">
      <h5 class="modal-title"><%= __('Remove this') %>?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="destroyOneLitter" :syncing.sync="syncing" :cloud-error.sync="cloudError"
               :handle-parsing="handleParsingDeleteLitterForm"
               @submitted="submittedDeleteLitterForm()">
      <div class="modal-body">
        <p><%= __('Are you sure you want to remove this') %> {{selectedLitter.label || 'item'}}?</p>
        <p class="text-muted"
           v-if="selectedLitter.borrowedBy"><%= __('We will no longer be able to assist with the return of this item, so you will need to contact') %>
          {{selectedLitter.borrowedBy.fullName}} <%= __('directly to coordinate') %>.</p>
        <p v-else><%= __('This item will no longer be available to share with friends') %>.</p>
        <p class="text-danger" v-if="cloudError">
          <small><%= __('An error occured while processing your request. Please check your information and try again, or') %>
            <a
              href="/contact"><%= __('contact support') %></a> <%= __('if the error persists') %>.
          </small>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary mr-1" data-dismiss="modal"><%= __('Nevermind') %></button>
        <button type="submit" class="btn btn-danger ml-1"><%= __('Remove') %></button>
      </div>
    </ajax-form>
  </modal>

  <% /* Шапка страницы */ %>
  <section class="banner-area relative">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white"><%= __('Litter Details') %></h1>
          <p><%= __('Information about new arrivals to this world.') %></p>
        </div>
      </div>
    </div>
  </section>

  <% /* Content */ %>
  <section class="portfolio_details_area section-gap">
    <div class="container">

      <div class="portfolio_details_inner ">
        <div class="row">
          <% /* Хлебные крошки */ %>
          <div class="col-md-6">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item><a href="/"><%= __('Home-menu') %></a></el-breadcrumb-item>
              <el-breadcrumb-item><a href="/litters"><%= __('Litters') %></a></el-breadcrumb-item>
              <el-breadcrumb-item><%= __('Litter') %> {{litter.letter}}</el-breadcrumb-item>
              <!--<el-breadcrumb-item>promotion detail</el-breadcrumb-item>-->
            </el-breadcrumb>
          </div>
          <% /* Буквы помётов (кнопки переключения помётов) */ %>
          <div class="col-md-6">
            <div class="text-right">
              <el-button-group v-for="(lett, index) in letters" :key="lett.id">

                <el-button v-if="lett.letter === litter.letter" @click="goTo(lett.link)" type="warning" size="mini">
                  {{lett.letter}}
                </el-button>
                <el-button v-else @click="goTo(lett.letter)" size="mini">
                  {{lett.letter}}
                </el-button>
              </el-button-group>
            </div>
          </div>
        </div>
        <div class="row">
          <% /* Главная картинка помёта */ %>
          <div class="col-md-6">
            <div class="left_img">
              <ul v-if="litter.images.length">
                <li v-for="(img ,index, key) in litter.images" :key="index + '-lst'">
                  <a href="#" @click="showSliderImages()">
                    <el-image :src="img.imageSrc" v-if="index===litter.cover" :lazy="true">
                      <div slot="placeholder" class="image-slot" style="height:500px;">
                        Loading<span class="dot">...</span>
                      </div>
                      <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline"></i> <%= __('not found') %>
                      </div>
                    </el-image>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="offset-md-1 col-md-5">
            <div class="portfolio_right_text ">
              <el-row :gutter="20">
                <% /* Буква помёта */ %>
                <el-col :span="10"><h4><%= __('Litter') %> {{litter.letter.toUpperCase()}}</h4></el-col>

                <% /* Кнопки редактирования помёта (dropdown) */ %>
                <el-col :span="1" :offset="12">
                  <div v-if="me.isAdmin || me.isSuperAdmin" class="grid-content bg-purple">
                    <el-dropdown @command="handleCommand">
                      <span class="el-dropdown-link">
                        <el-link :underline="false"> <i class="el-icon-more el-icon--right"></i></el-link>
                      </span>
                      <el-dropdown-menu slot="dropdown">

                        <el-dropdown-item icon="el-icon-circle-plus" :command="{com:'f'}">
                          <%= __('Add litter') %>
                        </el-dropdown-item>
                        <el-dropdown-item icon="el-icon-camera-solid" :command="{com:'c'}">
                          <%= __('Add photo session') %>
                        </el-dropdown-item>
                        <el-dropdown-item icon="el-icon-present" :command="{com:'g'}">
                          <%= __('Add presentation') %>
                        </el-dropdown-item>

                        <el-dropdown-item icon="el-icon-edit" :command="{com:'e'}">
                          <%= __('Change description') %>
                        </el-dropdown-item>

                        <el-dropdown-item icon="el-icon-star-off" :command="{com:'link'}">
                          <%= __('Change album art') %>
                        </el-dropdown-item>

                        <el-dropdown-item icon="el-icon-delete-solid"
                                          :command="{com:'dl'}">
                          <%= __('Delete') %> <%= __('litter') %>
                        </el-dropdown-item>

                        <el-dropdown-item :divided="true" disabled v-if="litter.createdAt" icon="el-icon-date"
                                          command="">
                          <%= __('Date publication') %> : <br>{{litter.createdAt | getCreate(me.preferredLocale)}}
                        </el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </div>
                </el-col>
              </el-row>
              <% /* Краткое описание помёта */ %>
              <p v-if="litter.subtitle">{{litter.subtitle}}</p>

              <% /* Звёздочки рейтинга */ %>
              <div class="block mb-5">
                <el-rate
                  v-model="ratio"
                  :colors="colors"
                  @change="changeRatio(litter.letter.toUpperCase())"
                  show-score
                  text-color="#ff9900"
                  score-template=" <%= __('points') %> {value} "
                >
                </el-rate>
              </div>
              <% /* Описание и данные о помёте */ %>
              <ul class="list">

                <% /* Дата помёте */ %>
                <li><span><%= __('Dob') %>
                    <el-tooltip v-if="isAfterDate" class="item" effect="dark"
                                content="<%= __("Date of litter. If the date has not yet arrived, then the mating has taken place and the birth is expected on that date.") %>"
                                placement="right-start">
                           <i class="el-icon-question"></i>
                   </el-tooltip>
                  </span>: {{litter.bornNt}}
                </li>
                <li><span><%= __('Name') %>
                    <el-tooltip class="item" effect="dark"
                                content="<%= __("The letter with which the puppy's name should begin.") %>"
                                placement="right-start">
                           <i class="el-icon-question"></i>
                   </el-tooltip>
                  </span>: {{litter.letter.toUpperCase()}}...
                </li>
                <li><span><%= __('Sire') %></span>: <a @click="goTo(`/dogs/${litter.sire[0]}`)"> {{litter.sire[1]}}</a>
                </li>
                <li><span><%= __('Dam') %></span>: <a @click="goTo(`/dogs/${litter.dam[0]}`)"> {{litter.dam[1]}}</a>
                </li>

              </ul>
              <% /* Кнопки PEDIGREE */ %>
              <el-row :gutter="20">
                <el-col :span="6">
                  <% /*@click="goTo('/pedigree')" */ %>
                  <el-button class="mt-4" @click="clickPedigree()" type="primary" round>Pedigree</el-button>

                </el-col>
                <el-col :span="8">
                  <el-button class="mt-4" @click="clickPuppiesSale()" type="success" round><%= __('Puppies for sale') %></el-button>

                </el-col>
              </el-row>
            </div>
          </div>
        </div>
        <div class="row ">
          <% /* Полное описание помёта */ %>
          <div class="col ">
            {{litter.description}}
          </div>
        </div>

      </div>

      <% /* Разделитель описания помёта и блока где выводятся фотосессии*/ %>
      <el-divider content-position="left"><%= __('Puppies this litter') %>.
        <span v-if="litter.puppies">{{litter.bornNt}}</span>
        <span v-else><%= __('It has not happened yet. We wait...') %></span>
      </el-divider>

      <!--<template>-->
      <!--<ul class="infinite-list" v-infinite-scroll="load" style="overflow:auto">-->
      <!--<li v-for="i in count" class="infinite-list-item">{{ i }}</li>-->
      <!--</ul>-->
      <!--</template>-->
      <template>
        <!--<el-tabs v-model="activeName" @tab-click="handleClick">-->
        <el-tabs
          :tab-position="tabPosition"
          v-model="virtualPageSlug"
          @tab-click="clickTabName"
        >
          <!--<el-tabs type="card" @tab-click="handleClick">-->
          <el-tab-pane label="<%= __('Photo') %>" name="photo">
            <transition name="el-fade-in-linear">
              <div class="mb-lg-5" v-if="litter.puppies">
                <% /* ФОТОСЕССИИ */ %>
                <div class="mb-lg-3 " v-for="(photoSet, index, key) in litter.puppies" :key="index +  '-photoSet'">
                  <el-row :gutter="20">
                    <el-divider v-if="index>0"><i class="el-icon-star-on"></i></el-divider>
                    <% /* Имя фотосессии */ %>
                    <el-col :span="10" :offset="7">

                      <h5 class="text-center"> {{photoSet.sessionName}}</h5>
                    </el-col>
                    <% /* Кнопки управления фотосессией */ %>
                    <el-col :span="1" :offset="6">
                      <div v-if="me.isAdmin || me.isSuperAdmin" class="grid-content bg-purple">
                        <el-dropdown @command="handleCommand">
                <span class="el-dropdown-link">
                  <el-link :underline="false"> <i class="el-icon-more el-icon--right"></i></el-link>
                </span>
                          <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item icon="el-icon-camera-solid" :command="{com:'c'}">
                              <%= __('Add photo session') %>
                            </el-dropdown-item>
                            <el-dropdown-item icon="el-icon-present" :command="{com:'g'}">
                              <%= __('Add presentation') %>
                            </el-dropdown-item>
                            <el-dropdown-item icon="el-icon-edit" :command="{com:'a',i:index}">
                              <%= __('Photo session name') %>
                            </el-dropdown-item>
                            <el-dropdown-item icon="el-icon-edit" :command="{com:'b',i:index}">
                              <%= __('Photo session description') %>
                            </el-dropdown-item>

                            <el-dropdown-item icon="el-icon-delete-solid"
                                              :command="{com:'d',i:index, name:photoSet.sessionName}">
                              <%= __('Delete photo session') %>
                            </el-dropdown-item>

                            <el-dropdown-item :divided="true" disabled v-if="photoSet.createAt" icon="el-icon-date"
                                              command="">
                              <%= __('Date publication') %> : <br>{{photoSet.createAt | getCreate(me.preferredLocale)}}
                            </el-dropdown-item>

                          </el-dropdown-menu>
                        </el-dropdown>
                      </div>
                    </el-col>
                  </el-row>

                  <% /*  */ %>
                  <div class="card-body">
                    <!--<h4 class="card-title"> {{litter.bornNt}}</h4>-->
                    <% /*Описание фотосессии.*/ %>
                    <div class="card-text"><p>
                        {{photoSet.descriptionPhotoSession}}</p></div>
                    <div class="card-text mt-sm-4">
                      <% /*Маленькие фото. Превью.*/ %>
                      <ul class="flex-container wrap" v-if="photoSet.photos">
                        <li class="flex-item" v-for="(img, idx, key) in photoSet.photos"
                            :key="idx +  '-label'">
                          <template v-if="me.isSuperAdmin">
                            <div class="ell-relation" v-if="litter.cover === index">
                              <!--<el-button type="warning" size="mini" title="<%= __("Album's cover") %>"-->
                              <!--class="ell-position-button check" icon="el-icon-star-off"-->
                              <!--circle/>-->
                            </div>
                            <div class="ell-relation" v-else>
                              <!--<el-button size="mini" title="<%= __('Make an album cover') %>"-->
                              <!--class="ell-position-button" @click="coverPhoto(litter.id,index)"-->
                              <!--icon="el-icon-document" circle></el-button>-->
                            </div>

                          </template>
                          <div class="ell-image-flex">
                            <a v-loading.fullscreen.lock="fullscreenLoading" href="#" @click="showSlider(idx, index)">
                              <img :src="img.imageSrc" class="ell object-fit_cover" alt="">
                            </a>
                          </div>

                        </li>
                      </ul>
                    </div>
                    <el-divider></el-divider>
                    <template>
                      <div>
                        <el-row class="button-like">

                          <el-button size="medium"><i class="ti-thumb-up"></i>&nbsp; <%= __('Like') %>
                            ({{likeLength}})
                          </el-button>

                          <el-badge :value="commentsLengthNew" :max="99" >
                            <el-button @click="ruleForm.show = index" icon="el-icon-chat-square"
                                     size="medium"><%= __('Comment') %> ({{commentsLength}})
                            </el-button>
                          </el-badge>
                          <el-button size="medium"><span class="share"></span><%= __('Share') %></el-button>
                        </el-row>
                        <transition name="el-fade-in-linear">
                          <div v-if="ruleForm.show === index">
                            <div class="row justify-content-center my-4">
                              <div class="col-sm-8">
                                <div class="row">
                                  <div class="col">
                                    <el-collapse v-model="activeNames"  @change="handleChange">
                                      <el-collapse-item  title="<%= __('Write your review') %>" name="1">
                                        <div><%= __('Your opinion is important and necessary for us. Leave your comment regarding this litter.') %></div>
                                        <div><%= __('Perhaps you have questions that you would like to receive answers from the nursery. Write to us, we will be happy to answer you.') %></div>
                                        <ul class="hr" v-for="(com,index) in comments">
                                          <li class="avat">
                                            <div class="avat">
                                              <el-avatar :size="35" :src="com.avatarUrl"></el-avatar>
                                            </div>
                                          </li>
                                          <li class="comm">
                                            <span class="comment"><a href="#" class="user-comment">{{com.userName}} </a>{{com.comment}}</span>
                                            <br>
                                            <small>
                                              <el-tooltip class="item" effect="dark"
                                                          :content="com.date | getCreate(me.preferredLocale,'LLLL')"
                                                          placement="top-start">
                                                <el-link type="info" class="mt-0">
                                                  <small>{{dateFrom.from(com.date)}}</small>
                                                </el-link>
                                              </el-tooltip>
                                            </small>
                                          </li>
                                        </ul>

                                        <el-form @submit.native.prevent>
                                          <el-form-item>
                                            <el-input @keyup.enter.native="updateComment"
                                                      class="mt-2"
                                                      @blur="updateComment"
                                                      clearable placeholder="<%= __('Write a comment') %>"
                                                      v-model="comment">
                                              <i slot="prefix" class="el-input__icon el-icon-chat-line-round"></i>
                                              <template slot="prepend">
                                                <el-avatar :size="35" :src="me.gravatar"></el-avatar>
                                              </template>
                                            </el-input>
                                          </el-form-item>
                                        </el-form>
                                      </el-collapse-item>
                                    </el-collapse>


                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </transition>
                      </div>
                    </template>

                  </div>
                </div>
              </div>
            </transition>
          </el-tab-pane>
          <el-tab-pane label="<%= __('Video') %>" name="video">
            <template v-if="!countVideo">
              <%= __('you have not uploaded any videos yet') %>
            </template>
            <template v-else>
              <!--<div class="infinite-list-wrapper">-->
              <!--<ul-->
              <!--class="list"-->
              <!--v-infinite-scroll="load"-->
              <!--infinite-scroll-disabled="disabled">-->
              <!--<li v-for="i in countVideo" class="list-item">-->
              <!--&lt;!&ndash;<iframe  width="100%" height="200vh" src="https://www.youtube.com/embed/Z5SmaOld7lM?start=4" frameborder="0"-->
              <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
              <!--allowfullscreen></iframe>&ndash;&gt;-->
              <!--</li>-->
              <!--</ul>-->
              <!--<p v-if="loadingVideo">Loading...</p>-->
              <!--<p v-if="noMore">No more</p>-->
              <!--</div>-->
            </template>
          </el-tab-pane>

          <el-tab-pane label="<%= __('Presentation') %>" name="presentation">
            <template v-if="!litter.presentation">
              <%= __('you have not uploaded any presentation yet') %>
            </template>
            <template v-else>
              <div>
                <el-row :gutter="12">
                  <el-col :span="8" v-for="(present,index) in litter.presentation" :key="index + '-present'">


                    <el-card shadow="hover">
                      <div slot="header" class="clearfix">
                        <strong>{{present.presentationName}}</strong>
                        <!--<el-button style="float: right; padding: 3px 0" type="text">Operation button</el-button>-->
                        <el-button @click="clickDeletePresentation(index)" style="float: right; padding: 6px"
                                   icon="el-icon-close" circle></el-button>
                      </div>

                      <p> {{present.descriptionPresentation}}</p>

                      <a target="_blank" :href="present.presentationUrl"><img
                          src="https://d3a1wbnh2r1l7y.cloudfront.net/pdf.jpg" height="150" alt=""></a>
                    </el-card>

                  </el-col>
                  <el-col :span="8" v-if="me.isAdmin || me.isSuperAdmin">
                    <el-card shadow="hover">
                      <p class="text-center">
                        <el-button round @click="setAddedPresentation"><%= __('Add presentation') %></el-button>
                        <!--<el-button type="success" icon="el-icon-present" circle><%= __('Add presentation') %></el-button>-->
                        <!--<el-link icon="el-icon-present"> <%= __('Add presentation') %></el-link>-->
                      </p>
                    </el-card>
                  </el-col>
                  <!--  <el-col :span="8">
                    <el-card shadow="never">
                      Never
                    </el-card>
                  </el-col>-->
                </el-row>
              </div>
            </template>
          </el-tab-pane>

          <el-tab-pane label="<%= __('Comment') %>" name="comment">
            <template v-if="!litter.comment">
              <%= __('you have not uploaded any presentation yet') %>
            </template>
            <template v-else>
            </template>
          </el-tab-pane>

        </el-tabs>
      </template>

    </div>
  </section>

  <!-- End Portfolio Details Area -->
  <router-view></router-view>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
