<div id="litter" class="content" v-cloak>
  <% /* Диалоговое окно Слайдер картинок */ %>
  <el-dialog
    title="<%= __('Parents') %>"
    :visible.sync="dialogTableVisible"
    width="60%"
    center>
    <div class="d-flex justify-content-end">
      <el-switch
        style="display: block"
        v-model="autoplay"
        active-color="#13ce66"
        inactive-color="#ff4949"
        active-text="Autoplay"
        inactive-text="Disable ">
      </el-switch>
    </div>
    <!--<span>It should be noted that the content will not be aligned in center by default</span>-->
    <div class="block">
      <!--<span class="demonstration">Switch when indicator is clicked</span>-->
      <el-carousel :autoplay="autoplay" trigger="click" height="80vh">
        <el-carousel-item v-for="(item, key, index) in items" :key="index">
          <h3 class="small text-center">{{ item.label }}</h3>
          <div class="my-flex-cont">
            <div class="my-flex-box">
              <img :src="item.imageSrc" class="gallery" alt="">
            </div>
          </div>
        </el-carousel-item>
      </el-carousel>
    </div>
    <!--<span slot="footer" class="dialog-footer">-->
    <!--<el-button type="primary" @click="dialogTableVisible = false" ><%= __('Close') %></el-button>-->
    <!--</span>-->
  </el-dialog>


  <!--  <el-dialog title="<%= __('Portfolio') %>" :visible.sync="dialogTableVisible">
    <template>
      <el-carousel indicator-position="outside" height="65vh">
        <el-carousel-item v-for="(item, index) of items" :key="index">

          <div class="d-flex justify-content-center align-items-center">

              <img :src="item.src" class="img-fluid height"
                   alt="A generic square placeholder image with rounded corners in a figure.">


          </div>

          &lt;!&ndash;<el-image :src="item.src" class="img-fluid" :fit="fits"></el-image>&ndash;&gt;

        </el-carousel-item>
      </el-carousel>
    </template>
  </el-dialog>-->

  <% /* start banner Area */ %>
  <section class="banner-area relative">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white"><%= __('Litter Details') %></h1>
          <p><%= __('Information about new arrivals to this world.') %></p>
        </div>
      </div>
    </div>
  </section>


  <% /* Portfolio Details Area */ %>
  <section class="portfolio_details_area section-gap">
    <div class="container">
      <div class="portfolio_details_inner">
        <div class="row">
          <div class="col-md-6">
            <div class="left_img">
              <a href="#" @click="showSlider()">
                <img class="img-fluid" :src="litter.imageSrc" alt="">
              </a>
            </div>
          </div>

          <div class="offset-md-1 col-md-5">
            <div class="portfolio_right_text mt-30">
              <h4><%= __('Litter') %> {{litter.letter.toUpperCase()}}</h4>
              <p v-if="litter.subtitle">{{litter.subtitle}}</p>
              <div class="block mb-5">

                <el-rate
                  v-model="ratio"
                  :colors="colors"
                  @change="changeRatio()"
                  show-score
                  text-color="#ff9900"
                  score-template=" <%= __('points') %> {value} "
                >
                </el-rate>
              </div>

              <ul class="list">
                <li><span><%= __('Dob') %>
                    <el-tooltip v-if="isAfterDate" class="item" effect="dark"
                                content="<%= __("Date of litter. If the date has not yet arrived, then the mating has taken place and the birth is expected on that date.") %>"
                                placement="right-start">
                           <i class="el-icon-question"></i>
                   </el-tooltip>
                  </span>: {{litter.born}}
                </li>
                <li><span><%= __('Name') %>
                    <el-tooltip class="item" effect="dark"
                                content="<%= __("The letter with which the puppy's name should begin.") %>"
                                placement="right-start">
                           <i class="el-icon-question"></i>
                   </el-tooltip>
                  </span>: {{litter.letter.toUpperCase()}}...
                </li>
                <li><span><%= __('Sire') %></span>: {{litter.sire}}</li>
                <li><span><%= __('Dam') %></span>: {{litter.dam}}</li>

              </ul>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          Duis aute irure dolor in reprehenderit.</p>
        <p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt
          in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
          voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto
          beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
          sed quia
          consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
          ipsum quia
          dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
          dolore magnam
          aliquam quaerat voluptatem.</p>
      </div>
      <div class="section-top-border">
        <h3><%= __('Image Gallery') %></h3>
        <div class="row gallery-item">
          <div class="col-md-4" v-for="(photo, index) of photos" :key="index" v-if="index<3">
            <a :href="`${photo.imagesSrc}`" class="img-gal">
              <div class="single-gallery-image" :style="{ backgroundImage: `url('${photo.imagesSrc}')` }"></div>
            </a>
          </div>
          <div class="col-md-6" v-for="(photo, index) of photos" :key="index" v-if="index>2 && index<5">
            <a :href="`${photo.imagesSrc}`" class="img-gal">
              <div class="single-gallery-image" :style="{ backgroundImage: `url('${photo.imagesSrc}')` }"></div>
            </a>
          </div>
          <div class="col-md-4" v-for="(photo, index) of photos" :key="index" v-if="index>4 && index<8">
            <a :href="`${photo.imagesSrc}`" class="img-gal">
              <div class="single-gallery-image" :style="{ backgroundImage: `url('${photo.imagesSrc}')` }"></div>
            </a>
          </div>
          <div class="col-md-6" v-for="(photo, index) of photos" :key="index" v-if="index>7 && index<10">
            <a :href="`${photo.imagesSrc}`" class="img-gal">
              <div class="single-gallery-image" :style="{ backgroundImage: `url('${photo.imagesSrc}')` }"></div>
            </a>
          </div>
          <div class="col-md-4" v-for="(photo, index) of photos" :key="index" v-if="index>9 && index<13">
            <a :href="`${photo.imagesSrc}`" class="img-gal">
              <div class="single-gallery-image" :style="{ backgroundImage: `url('${photo.imagesSrc}')` }"></div>
            </a>
          </div>
          <div class="col-md-6" v-for="(photo, index) of photos" :key="index" v-if="index>12 && index<15">
            <a :href="`${photo.imagesSrc}`" class="img-gal">
              <div class="single-gallery-image" :style="{ backgroundImage: `url('${photo.imagesSrc}')` }"></div>
            </a>
          </div>
          <div class="col-md-4" v-for="(photo, index) of photos" :key="index" v-if="index>14 && index<18">
            <a :href="`${photo.imagesSrc}`" class="img-gal">
              <div class="single-gallery-image" :style="{ backgroundImage: `url('${photo.imagesSrc}')` }"></div>
            </a>
          </div>
          <div class="col-md-6" v-for="(photo, index) of photos" :key="index" v-if="index>17 && index<20">
            <a :href="`${photo.imagesSrc}`" class="img-gal">
              <div class="single-gallery-image" :style="{ backgroundImage: `url('${photo.imagesSrc}')` }"></div>
            </a>
          </div>
          <div class="col-md-4" v-for="(photo, index) of photos" :key="index" v-if="index>19 && index<23">
            <a :href="`${photo.imagesSrc}`" class="img-gal">
              <div class="single-gallery-image" :style="{ backgroundImage: `url('${photo.imagesSrc}')` }"></div>
            </a>
          </div>
          <div class="col-md-6" v-for="(photo, index) of photos" :key="index" v-if="index>22 && index<25">
            <a :href="`${photo.imagesSrc}`" class="img-gal">
              <div class="single-gallery-image" :style="{ backgroundImage: `url('${photo.imagesSrc}')` }"></div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- End Portfolio Details Area -->

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
