<div id="kennels-home" v-cloak>

  <% /* Диалоговое окно. Подтверждение удаления объекта. */ %>
  <el-dialog
    title="<%= __('Warning') %>"
    :visible.sync="centerDialogVisibleConfirm"
    width="30%"
    center>
    <span>{{text}}</span>
    <span slot="footer" class="dialog-footer">
                <el-button @click="centerDialogVisibleConfirm = false">Отмена</el-button>
                <el-button type="primary" @click="confirmDeletion()">Да</el-button>
             </span>
  </el-dialog>

  <% /* Диалоговое окно. Тарифы. */ %>
  <el-dialog
    title="<%= __('Warning') %>"
    :visible.sync="centerDialogVisible"
    width="53%"
    style="margin-top: 17vh"
    center>
    <el-alert
      title="<%= __('You have not linked a payment source to your account. In order to access paid features, you\'ll need to provide your credit card information. (Don\'t worry: you will only be charged when you\'ve reached the limit of your free plan.)') %>"
      type="warning">
    </el-alert>

    <span slot="footer" class="dialog-footer">
    <el-button @click="goToCard()"><%= __('Add card') %></el-button>
    <el-button type="primary" @click="centerDialogVisible = false"><%= __('Close') %></el-button>
  </span>
  </el-dialog>

  <% /* Диалоговое окно. Добавить Питомник. */ %>
  <el-dialog
    title="<%= __('Add your kennel') %>"
    :visible.sync="centerDialogAdded"
    custom-class="dialog-kennel-add"
    center>


    <el-dialog
      width="80%"
      top="3vh"
      title="Continents 6"
      :visible.sync="innerVisible"
      append-to-body>

      <div class="justify-content-center">
        <el-image
          style="width: inherit; height: auto"
          :src=url
          :fit="fit"></el-image>

      </div>
    </el-dialog>

    <div class="container">
      <div v-if="ruleForm.imageUrl" class="col">
        <div class="single-gallery-image" :style="{ backgroundImage: `url('${ruleForm.imageUrl}')` }"></div>
      </div>
      <!--<img src="https://d3a1wbnh2r1l7y.cloudfront.net/1920px-Flag_of_the_Republic_of_Abkhazia.svg.png" class="img-fluid" alt="Responsive image">-->
      <div class="form-group">
        <!--<svg width="200" height="100"-->
        <!--xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
        <!--<image xlink:href="https://d3a1wbnh2r1l7y.cloudfront.net/1920px-Flag_of_the_Republic_of_Abkhazia.svg.png" height="100" width="200"/>-->
        <!--</svg>-->
        <label v-if="!ruleForm.imageUrl"> <%= __('Add logo') %>:</label>
        <hr>
        <div class="photo-uploader">
          <div class="row file-upload-field  ">
            <div class="file-preview  col-sm-12 col-md-4 el-col-md-offset-3 d-flex justify-content-center">
              <el-upload
                class="avatar-uploader"
                action="/api/v1/files/upload"
                :show-file-list="false"
                :on-success="handleAvatarSuccess"
                :before-upload="beforeAvatarUpload">
                <img v-if="ruleForm.imageUrl" :src="ruleForm.imageUrl" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
              <!--    <el-upload
                    class="upload-demo"
                    drag
                    action="/api/v1/files/upload"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :before-upload="beforeAvatarUpload"
                    :on-success="handleAvatarSuccess"
                    :file-list="fileList"
                    multiple>
                    <img v-if="ruleForm.imageUrl" :src="ruleForm.imageUrl" class="">
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                    <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                  </el-upload>-->
            </div>
            <div class="col-sm-12  col-md-6">
              <p class="image-advice text-muted" v-if="!formErrors.photo">
                <strong><%= __('Tip') %></strong>: <%= __('Make sure the object is in the front and center of the photo so that people understand exactly who you are representing.') %>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>


    <el-row :gutter="20">
      <el-col :span="1"></el-col>
      <el-col :span="23">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm"
                 label-width="120px" class="demo-ruleForm">

          <el-form-item label="<%= __('Kennel') %>" prop="label">
            <el-input minlength="3" maxlength="80" show-word-limit
                      placeholder="<%= __('The official name') %>"
                      v-model="ruleForm.label"></el-input>
          </el-form-item>


          <el-form-item label="<%= __('Number') %>" prop="registerNumber">
            <el-input minlength="3" maxlength="20" show-word-limit
                      v-model="ruleForm.registerNumber"
                      placeholder="<%= __('Kennel registration number') %>"></el-input>
          </el-form-item>

          <template>
            <el-form-item label="<%= __('Continent') %>" prop="continent">
              <el-select @change="changeSelectContinent()" v-model="ruleForm.continent"
                         placeholder="<%= __('Where is the nursery registered?') %>"
                         style="width: 58%;">
                <el-option v-for="item in continents"
                           :key="item.id"
                           :label="item.label"
                           :value="item.id">
                  <span style="float: left">{{ item.label }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">{{ item.labelRu }}</span>
              </el-select>

              <el-tooltip class="ml-3" effect="dark" content="<%= __('Continental Information') %>"
                          placement="top-start">
                <el-button @click="innerVisible=true" size="mini" round icon="el-icon-question"></el-button>
              </el-tooltip>
            </el-form-item>


          </template>


          <template v-if="ruleForm.continent">
            <el-form-item label="<%= __('Country') %>" prop="country">
              <el-select v-model="ruleForm.country" placeholder="<%= __('Where is the kennel registered?') %>"
                         style="width: 58%;"
                         @change="changeCountry">
                <el-option v-for="item in getPullCountry()"
                           :key="item.id"
                           :label="item.label"
                           :value="item.id">
                  <span style="float: left">{{ item.label }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">{{ item.labelRu }}</span>
              </el-select>
            </el-form-item>
          </template>


          <template v-if="ruleForm.country">
            <el-form-item label="<%= __('City') %>" prop="city">

              <el-autocomplete
                popper-class="my-autocomplete"
                v-model="ruleForm.city"
                :fetch-suggestions="querySearch"
                placeholder="<%= __('Please Input City') %>"
                :trigger-on-focus="false"
                @select="handleSelect"
                style="width: 58%;"
              >
                <template slot-scope="{ item }">

                  <span class="value">{{ item.value }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">{{ item.labelRu }}</span>
                </template>
              </el-autocomplete>
              <el-tooltip effect="dark" content="<%= __('English search') %>" placement="top-start">
                <div size="mini" round class="el-icon-question ml-3"></div>
              </el-tooltip>
            </el-form-item>
          </template>


          <template v-if="ruleForm.city">
            <el-form-item label="<%= __('Address') %>" prop="address">
              <el-input placeholder="<%= __('street, house, building') %>" minlength="3" maxlength="100" show-word-limit
                        v-model="ruleForm.address"></el-input>
            </el-form-item>
          </template>


          <!--<transition name="el-fade-in-linear">-->
          <!--<template v-if="ruleForm.city">-->
          <!---->
          <!--</template>-->
          <!--</transition>-->

          <% /* Как сделать обязательным заполнения телефона:
               :rules="{ required: true, message: 'Phone can not be null', trigger: 'blur' }" */ %>
          <el-form-item
            v-for="(phone, index) in ruleForm.phones"
            :label="'Phone: ' + `${index + 1}`"
            :key="phone.key"
            :prop="'phones.' + index + '.value'">
            <el-col :span="12">
              <el-input placeholder="<%= __('Phone number') %>" v-model="phone.value"></el-input>
              <el-input placeholder="<%= __('Full Name') %>" v-model="phone.fullName"></el-input>
            </el-col>
            <el-col :span="6">

              <el-button-group>
                <el-tooltip effect="dark" content="<%= __('Add phone') %>" placement="top-end">
                  <el-button @click="addDomain" size="mini" round icon="el-icon-share"></el-button>
                </el-tooltip>
                <el-tooltip effect="dark" content="<%= __('Remove phone') %>" placement="top-start">
                  <el-button @click.prevent="removeDomain(phone)" size="mini" round icon="el-icon-delete"></el-button>
                </el-tooltip>
              </el-button-group>

              <!--<el-button ><%= __('Add phone') %></el-button>-->
              <!--<el-button  ><%= __('Delete') %></el-button>-->
            </el-col>
            <el-col :span="6">

            </el-col>
          </el-form-item>


          <el-form-item label="<%= __('Date') %>" required>
            <el-col :span="11">
              <el-form-item prop="dateCreate">
                <el-date-picker
                  type="date"
                  placeholder="<%= __('Registration date') %>"
                  v-model="ruleForm.dateCreate"
                  style="width: 100%;"
                />
              </el-form-item>
            </el-col>
          </el-form-item>

          <el-form-item label="<%= __('Name on') %>:" prop="rightName">
            <el-switch
              v-model="ruleForm.rightName"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-text="<%= __('right') %>"
              inactive-text="<%= __('left') %>">
            </el-switch>
            <el-tooltip effect="dark" placement="top-start">
              <div slot="content"><%= __('Where is the name of the dog in relation to the name of the kennel.') %><br>
                (<%= __('right: KennelName DogName | left: DogName KennelName') %>)"
              </div>
              <div size="mini" round class="el-icon-question ml-3"></div>
            </el-tooltip>

          </el-form-item>


          <el-form-item label="<%= __('WebSite') %>" prop="site">
            <el-input minlength="3" maxlength="30" show-word-limit
                      placeholder="<%= __('Without http:// | https://') %>" v-model="ruleForm.site">
              <template slot="prepend">//</template>
            </el-input>
          </el-form-item>

          <el-form-item label="<%= __('Your kennel?') %>" prop="yourKennel">
            <el-switch
              v-model="ruleForm.yourKennel"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-text="Yes!"
              inactive-text="No"
            >
            </el-switch>
            <el-tooltip effect="dark" placement="top-start">
              <div slot="content"><%= __('Is the kennel registered to you, are you a breeder?') %></div>
              <div size="mini" round class="el-icon-question ml-3"></div>
            </el-tooltip>
          </el-form-item>


          <el-form-item v-if="ruleForm.yourKennel" label="<%= __('About Us') %>" prop="subtitle">
            <el-input minlength="10" maxlength="100" show-word-limit
                      placeholder="<%= __('Tell us about the kennel') %>" type="textarea"
                      v-model="ruleForm.subtitle"></el-input>
          </el-form-item>

          <div class="my-3 pt-4">
            <el-form-item>
              <el-button type="primary" @click="submitForm('ruleForm')"><%= __('Create') %></el-button>
              <el-button @click="resetForm('ruleForm')"><%= __('Reset') %></el-button>
              <el-button @click="centerDialogAdded = false"><%= __('Cancel') %></el-button>
            </el-form-item>
          </div>
        </el-form>

      </el-col>

    </el-row>


    <span slot="footer" class="dialog-footer">

<!--    <el-button @click="goTo()"><%= __('Add card') %></el-button>
    <el-button type="primary" @click="centerDialogVisible = false"><%= __('Close') %></el-button>-->
  </span>
  </el-dialog>

  <% /* Главный банер, с названием страницы. */ %>
  <section class="banner-area relative">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white"><%= __('Kennels') %></h1>
          <p><%= __('Chinese Crested Dog. Catalog of nurseries of the world.') %> </p>

        </div>
      </div>
    </div>
  </section>

  <% /*Описание страницы. Первый блок текста.*/ %>
  <section class="sample-text-area">
    <div class="container">
      <!--<el-page-header @back="goBack" content="detail"></el-page-header>-->
      <h3 class="text-heading"><%= __('World Kennel Catalog') %></h3>
      <p class="sample-text">
        <%= __('The page presents the Chinese Crested Dog Kennels created around the world. This nursery database cannot claim to be complete, just like any other database in the world. The only question is who uses it. As the mechanism for updating and collecting data on well-known nurseries grows and improves, this database will collect, maintain, and update relevant information that appears in open access to other sites automatically. Generating a complete list of Chinese Crested Dog kennels in the world.') %>
      </p>
      <div v-if="me.hasBillingCard || me.isSuperAdmin" class="mt-5 section-title text-center">
        <!--<button @click="clickAddButton()" class="btn btn-outline-info"><%= __('Add kennel') %></button>-->
        <button @click="centerDialogAdded=true" class="btn btn-outline-info"><%= __('Add kennel') %></button>
      </div>
      <div class="mt-5 section-title text-center" v-else>
        <button @click="centerDialogVisible = true" class="btn btn-outline-info"><%= __('Add kennel') %></button>
      </div>
    </div>
  </section>



  <% /*Фильтр и блоки фото.*/ %>
  <section class="about-area ">
    <div class="container">


      <% /*ФИЛЬТР ПИТОМНИКОВ*/ %>
          <!--<span class="demonstration">Display all tags (default)</span>-->
      <div v-if="kennels" class="pb-5">
          <el-cascader
            :options="optionsTest"
            :props="props"
            placeholder="<%= __('Select kennel') %>"
            clearable>
          </el-cascader>
      </div>

 <!--     <nav class="product-filter">
        <h2><%= __('Kennels') %></h2>
        <% /*Фильтры*/ %>
        <div class="sort">
          <div class="collection-sort">
            <label>Filter by:</label>
            <select>
              <option value="/">All Jackets</option>
            </select>
          </div>
          <div class="collection-sort">
            <label>Sort by:</label>
            <select>
              <option value="/">Featured</option>
            </select>
          </div>

        </div>
      </nav>-->

      <% /*ФОТО*/ %>
      <section class="products">
        <!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->
        <div class="product-card" v-for="item of kennels">
          <transition name="collapse">
            <div class="product-image">
              <img :src="item.imageSrc">
            </div>
          </transition>
          <div class="product-info">
            <h5><%= __('Kennel') %>: {{item.label}}</h5>
            <h6><%= __('Country') %>: {{item.country.label}}</h6>
          </div>
        </div>
        <!-- more products -->
      </section>
    </div>
  </section>
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
