<div id="edit-language" v-cloak>

  <div class="container">
    <h1><%=__('Change language')%></h1>
    <hr/>
    <ajax-form action="updateLanguage"
               :syncing.sync="syncing"
               :cloud-error.sync="cloudError"
               @submitted="submittedForm()"
               :handle-parsing="handleParsingForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="custom-control custom-radio">
              <input  type="radio"
                      v-model="formData.language"
                     id="customRadio1"
                    name="language"  value="ru" class="custom-control-input">
              <label class="custom-control-label" for="customRadio1">{{formData.checked}} <%= __('Russian') %></label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio"
                     v-model="formData.language"
                     id="customRadio2"
                     name="language" value="en" class="custom-control-input">
              <label class="custom-control-label" for="customRadio2"><%= __('English') %></label>
            </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p class="text-danger" v-if="cloudError">An error occurred while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persiste.</p>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info" href="/account"><%= __('Cancel') %></a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark"><%= __('Save') %></ajax-button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Exposez server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
