<div id="blog" v-cloak>
    <% /* Диалоговое окно редактор поста (EDIT)*/ %>
    <el-dialog
            :title=" succ ? '<%= __('REDACTED') %>': '<%= __('POST EDITOR') %>' "
            :visible.sync="dialogPedigreeVisible"
            :fullscreen="true"
            top="1vh"
            center
            :class="[succ ? activeClass : '', '']"
            :before-close="handlerCloseDialogSlider"
            v-if="virtualPageSlug==='edit'">

        <div style="height: 90px;" class="flex justify-content-center align-content-center">
            <h2 v-if="eLabel"> {{post.labelRu}}</h2>
            <div  v-else="!eLabel" class="demo-input-suffix">
<!--                <span class="demo-input-label">Using attributes</span>-->
                <el-input  style=" width: 25rem" placeholder="<%= __('Required to fill') %>"
                           v-model="post.labelRu "
                           class="input-with-select">
                </el-input>
                <el-input  style=" width: 25rem"
                        placeholder="<%= __('Required to fill') %>"
                        v-model="post.label">
                    <el-button  v-if="!succ" type="info" @click="editLabel" slot="append"
                                icon="el-icon-circle-check"></el-button>

                </el-input>

            </div>
            <div v-if="eLabel" class="btr pointer">
                <i @click="eLabel ? eLabel=false : eLabel=true" class="el-icon-view"></i>
            </div>
        </div>
        <div class="block">
            <!---------------------------------------------------------------------------------------->
            <% /*Загрузка фото NEW*/ %>
            <div class="container-fluid ">
                <div class="row justify-content-center">
                    <div class="col">
                        <el-upload
                                action="/api/v1/files/upload"
                                list-type="picture-card"
                                drag
                                multiple
                                ref="upload"
                                :on-preview="handlePictureCardPreview"
                                :before-upload="beforeUpload"
                                :limit="limit"
                                :on-success="handleSuccess"
                                :on-exceed="handleExceed"
                                :on-remove="handleRemove"
                        >
                            <i class="el-icon-plus"></i>
                            <div class="el-upload__tip" slot="tip"><%= __('jpg/png files with a size less than ') %>
                                {{sizeLess}}<%= __('MB') %></div>
                        </el-upload>
                        <br>
                        <el-dialog :visible.sync="dialogVisible" style="z-index: 10000">
                            <img :src="dialogImageUrl" alt="">
                        </el-dialog>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------------------------------------->
            <el-form :model="post" :rules="rules" ref="post" class="demo-ruleForm">
                <% /* ВИДЕН ПОСТ ИЛИ НЕТ */ %>
                <el-form-item label="<%= __('Article') %>" prop="see">
                    <el-row :gutter="2">
                        <el-col :span="5">
                            <el-switch
                                    style="display: block; padding-bottom: 0"
                                    v-model="post.see"
                                    active-color="#13ce66"
                                    inactive-color="#ff4949"
                                    active-text="<%= __('visible') %>"
                                    inactive-text="<%= __('not visible') %>">
                            </el-switch>
                        </el-col>
                        <el-col :span="5">
                            <el-tooltip effect="dark"
                                        content="<%= __("Will your article/post on the site be visible?") %>"
                                        placement="top-start">

                                <div size="mini" round class="el-icon-question "></div>
                            </el-tooltip>
                        </el-col>
                    </el-row>
                </el-form-item>
                <% /* ДАТА */ %>
                <el-form-item  label="<%= __('Date') %>" prop="dateEvent">
                    <el-row :gutter="2">
                        <el-col :span="11">
                            <el-date-picker
                                    v-model="post.dateEvent"
                                    type="datetime"
                                    placeholder="<%= __('Select date and time') %>"
                                    default-time="12:00:00">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                </el-form-item>
            </el-form>
        </div>
        <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handlerCloseDialogSlider()"><%= __('Close') %></el-button>
        </span>
    </el-dialog>
    <% /* шапка страницы post */ %>
    <patzi-post-header :obj-data="seo" :post="post" @editpost="editPost" @remove="removeItem"
                       @select-posts="filterPosts"></patzi-post-header>
    <% /* ВЫВОД КАРТИНОК */ %>
    <section class="u-clearfix u-section-2" id="carousel_1cb2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-text u-text-1 text-capitalize"><%= __('dog') %></p>
            <h2 class="u-text u-text-2 text-uppercase flex space-between">
                <span><%= __('in the focus') %>!</span>
                <el-switch
                        style="display: block"
                        v-model="lines"
                        active-color="#13ce66"
                        inactive-color="#bdce0d"
                        active-text="<%= __('row') %>"
                        inactive-text="<%= __('column') %>">
                </el-switch>
            </h2>

            <patzi-post-gallery :obj-data="seo" :post="post" :lines="lines"
                                @select-posts="filterPosts"></patzi-post-gallery>
        </div>
    </section>

    <% /* КАРУСЕЛЬ С ВИДЕО */ %>
    <section class="u-carousel u-slide u-block-926e-1" id="carousel_62aa" data-interval="5000" data-u-ride="carousel">
        <ol class="u-absolute-hcenter u-carousel-indicators u-block-926e-5">
            <li data-u-target="#carousel_62aa" data-u-slide-to="0" class="u-palette-1-light-1"></li>
            <li data-u-target="#carousel_62aa" class="u-palette-1-light-1" data-u-slide-to="1"></li>
            <li data-u-target="#carousel_62aa" class="u-palette-1-light-1" data-u-slide-to="2"></li>
        </ol>
        <div class="u-carousel-inner" role="listbox">
            <div class="u-align-center u-carousel-item u-clearfix u-palette-1-base u-active u-section-3-1">
                <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                    <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-contain u-video-1">
                        <div style="position: absolute;" class="embed-responsive">
                            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
                                    class="embed-responsive-item" src="https://www.youtube.com/embed/TUar0_aUWq8"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            <!--              <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/TUar0_aUWq8?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen=""></iframe>-->
                        </div>
                    </div>
                    <h2 class="u-text u-text-1">Красавчик, Честер.</h2>
                    <p class="u-text u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
            </div>
            <div class="u-align-center u-carousel-item u-clearfix u-palette-1-base u-section-3-2">
                <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                    <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-contain u-video-1">
                        <div style="position: absolute;" class="embed-responsive">
                            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
                                    class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/oH6XUwNL8-U?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0"
                                    frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    <h2 class="u-text u-text-1">Задумчивый я и серьёзный.</h2>
                    <p class="u-text u-text-2">- И чё они всё бегают?!</p>
                </div>
            </div>
            <div class="u-align-center u-carousel-item u-clearfix u-palette-1-base u-section-3-3">
                <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                    <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-contain u-video-1">
                        <div style="position: absolute;" class="embed-responsive">
                            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
                                    class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/NHQlBPTNKGg?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0"
                                    frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    <h2 class="u-text u-text-1">Задумчивый я и серьёзный. Часть 2</h2>
                    <p class="u-text u-text-2">- Ждём соседей...</p>
                </div>
            </div>
        </div>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-palette-1-light-1 u-block-926e-3"
           href="#carousel_62aa" role="button" data-u-slide="prev">
        <span aria-hidden="true">
          <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
        </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-palette-1-light-1 u-block-926e-4"
           href="#carousel_62aa" role="button" data-u-slide="next">
        <span aria-hidden="true">
          <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
        </span>
            <span class="sr-only">Next</span>
        </a>
    </section>
    <section class="skrollable skrollable-between u-clearfix u-image u-image-tiles u-section-4" id="sec-5927"
             data-image-width="400" data-image-height="400">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1" src=""
                             data-image-width="1378" data-image-height="1378">
                            <div class="u-container-layout u-container-layout-1"></div>
                        </div>
                        <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <div class="u-container-style u-group u-white u-group-1">
                                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                                        <h2 class="u-text u-text-1">Geno SISNERO</h2>
                                        <p class="u-text u-text-2">Отличный судья. Тщательно осматривает собак,
                                            прекрасно разбирается в породе, долго выбирает, много гоняет по рингу.</p>
                                    </div>
                                </div>
                                <div class="u-align-center u-container-style u-group u-image u-image-2"
                                     data-image-width="1600" data-image-height="842">
                                    <div class="u-container-layout u-container-layout-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <router-view></router-view>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
