<div id="welcome" class="content" v-cloak>

    <section
            class="u-align-center u-clearfix u-image u-valign-middle-xs u-valign-top-md u-valign-top-sm u-section-1"
            id="sec-00b0">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout" style="">
                <div class="u-layout-row" style="">
                    <div class="red u-align-center-lg u-align-center-sm u-align-center-xl u-align-center-xs u-container-style u-image u-layout-cell u-left-cell u-size-52-xl u-size-59-lg u-size-59-md u-size-59-sm u-size-59-xs u-size-xs-60 u-image-1"
                         src="">
                        <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                            <h1 class="u-align-center-md u-text u-text-grey-90 u-title u-text-1">
                                GROWTH
                                <br>MATTERS
                            </h1>
                            <p class="u-align-center-md u-custom-font u-font-ubuntu u-text u-text-palette-1-light-2 u-text-2"
                               data-animation-name="zoomIn" data-animation-duration="1000"
                               data-animation-delay="0" data-animation-direction="">Kennel</p>
                            <p class="u-align-center-md u-text u-text-black u-text-3"><%= __('Chinese Crested Dog') %></p>
                            <a href="dogs/chinese-crested"
                               class="u-border-1 u-border-palette-1-base u-border-radius-0 u-btn u-btn-rectangle u-button-style u-custom-font u-font-oswald u-text-black u-btn-1"
                               data-animation-name="zoomIn" data-animation-duration="1000"
                               data-animation-delay="0"
                               data-animation-direction=""><%= __('Dog catalog') %></a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-1-lg u-size-1-md u-size-1-sm u-size-1-xs u-size-8-xl u-size-xs-60 u-layout-cell-2"
                         src="">
                        <div class="u-container-layout u-valign-middle u-container-layout-2"
                             src=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-706f">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1"
                             src="" data-image-width="487" data-image-height="661">
                            <div class="u-container-layout u-valign-bottom u-container-layout-1"
                                 src="">
                                <h2 class="u-text u-text-grey-5 u-text-1">Alfa Laval De lux
                                    Supernova</h2>
                                <p class="u-text u-text-white u-text-2">Кобель для вязок
                                    <br>9 декабря 2015 г.
                                </p>
                                <a href="chinese-crested/Alfa-Laval-De-lux-Supernova"
                                   class="u-btn u-button-style u-btn-1"><%= __('More') %></a>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-grey-5 u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <h2 class="u-text u-text-3"><%= __('Kennel') %> Poale Ell
                                    <br><%= __('Chinese Crested Dog') %>
                                </h2>
                                <p class="u-text u-text-4"><%= __('In the breed since 2004. Officially, the kennel Poale Ell, was registered in the international registry of the FCI federation in 2016, certificate No. 18431 dated 02.26.2016, owner Olga Petrova.') %>
                                    <br>
                                    <br><%= __('The nursery is actively working with Polish, British and American manufacturers. Specializes in breeding Chinese crested dogs of standard size. In kennel dogs there are brilliant pedigrees with lines of the best specialized kennels in the world.') %>
                                </p>
                                <a href="about"
                                   class="u-border-radius-0 u-btn u-btn-rectangle u-button-style u-palette-1-base u-btn-2"><%= __('More') %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section
            class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-grey-5 u-section-3"
            id="sec-6108">
        <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1"
                             src="">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <h2 class="u-align-center-xl u-text u-text-1">Poale Ell
                                    Bazhen</h2>
                                <p class="u-align-center-xl u-text u-text-2"><%= __('Dog for mating') %>
                                    <br>3 ноября 2017 г.
                                </p>
                                <a href="chinese-crested/Poale-Ell-Bazhen"
                                   class="u-border-radius-0 u-btn u-btn-rectangle u-button-style u-palette-1-base u-btn-1"><%= __('More') %></a>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1"
                             src="" data-image-width="1142" data-image-height="1600">
                            <div class="u-container-layout u-valign-middle u-container-layout-2"
                                 src=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-4" id="sec-7e9b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-col">
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                                    <div class="u-container-layout u-container-layout-1">
                                        <h2 class="u-text u-text-1">Star Show Bon Ami Riva</h2>
                                        <p class="u-text u-text-2"><%= __('Dam on sale') %>.
                                            <br><%=__('dob.') %> 19 сентября 2021 г.
                                        </p>
                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h2 class="u-text u-text-3">Star Show Bon Ami Reiko</h2>
                                        <p class="u-text u-text-4"><%= __('Dog for sale') %>.
                                            <br><%=__('dob.') %> 19 июля 2021 г.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1"
                                     data-image-width="1600" data-image-height="1067"
                                     data-href="/chinese-crested/Star-Show-Bon-Ami-Riva">
                                    <div class="u-container-layout u-container-layout-3"></div>
                                </div>
                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2"
                                     data-href="/chinese-crested/Star-Show-Bon-Ami-Reiko">
                                    <div class="u-container-layout u-container-layout-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-valign-middle-xs u-section-5"
             id="carousel_7a26">
        <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
            <h2 class="u-text u-text-1"><%= __('Pricing Plans') %></h2>
            <p class="u-text u-text-palette-3-dark-1 u-text-2"><%= __('Choose Your Dog') %></p>
            <div class="u-border-1 u-border-grey-30 u-grey-5 u-shape u-shape-rectangle u-shape-1"></div>
            <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-left-cell u-size-15 u-size-30-md u-layout-cell-1">
                            <div class="u-border-1 u-border-grey-30 u-container-layout u-valign-middle u-container-layout-1">
                                <h2 class="u-align-center-lg u-align-center-xl u-text u-text-3">
                                    Powderpuff Sire</h2>
                                <h3 class="u-align-center-lg u-align-center-xl u-text u-text-4">
                                    €800</h3>
                                <p class="u-align-center-lg u-align-center-xl u-text u-text-5"><%= __('Vaccination, anthelmintic') %>
                                    <br><%= __('Pedigree (puppy card)') %>
                                    <br>
                                </p>
                                <a href="/pricing" class="u-border-radius-0 u-btn u-btn-rectangle u-button-style u-palette-1-base
                u-btn-1"><%= __('detailed') %></a>
                            </div>
                        </div>
                        <div class="u-align-center-lg u-align-center-sm u-align-center-xl u-align-center-xs u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-2">
                            <div class="u-border-1 u-border-grey-30 u-container-layout u-valign-middle u-container-layout-2">
                                <h2 class="u-text u-text-6">Powderpuff Dam</h2>
                                <h3 class="u-align-center-md u-text u-text-7">€1000</h3>
                                <p class="u-align-center-md u-text u-text-8"><%= __('Vaccination, anthelmintic') %>
                                    <br><%= __('Pedigree (puppy card)') %>
                                </p>
                                <a href="/pricing" class="u-border-radius-0 u-btn u-btn-rectangle u-button-style u-palette-1-base
                u-btn-2"><%= __('detailed') %></a>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3">
                            <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                                <h2 class="u-align-center u-text u-text-9">Hairless Sire</h2>
                                <h3 class="u-align-center u-text u-text-10">€1000</h3>
                                <p class="u-align-center u-text u-text-11"><%= __('Vaccination, anthelmintic') %>
                                    <br><%= __('Pedigree (puppy card)') %>
                                </p>
                                <a href="/pricing" class="u-border-radius-0 u-btn u-btn-rectangle u-button-style u-palette-1-base
                u-btn-3"><%= __('detailed') %></a>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-right-cell u-size-15 u-size-30-md u-layout-cell-4">
                            <div class="u-border-1 u-border-grey-30 u-container-layout u-valign-middle u-container-layout-4">
                                <h2 class="u-align-center u-text u-text-12">Hairless Dam</h2>
                                <h3 class="u-align-center u-text u-text-13">€1500</h3>
                                <p class="u-align-center u-text u-text-14"><%= __('Vaccination, anthelmintic') %>
                                    <br><%= __('Pedigree (puppy card)') %>
                                </p>
                                <a href="/pricing" class="u-border-radius-0 u-btn u-btn-rectangle u-button-style u-palette-1-base
                u-btn-4"><%= __('detailed') %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% /*МИР СОБАК БЛОГ*/ %>
    <section class="u-align-right u-clearfix u-image u-shading u-section-6" id="sec-b36a"
             data-image-width="1280" data-image-height="766">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h5 class="u-text u-text-1"><%= __('our blog') %></h5>
            <h2 class="u-text u-text-grey-10 u-text-2"><%= __('Dog World') %></h2>
            <p class="u-text u-text-white u-text-3"><%= __('This blog talks about the life of the nursery. All events worthy of publicity are outlined here. Exhibitions, victories, awards of our dogs, just interesting events and facts from the life of dogs. You can leave your comments and share your opinion with us') %>
                .
                <br><%= __('Your opinion is very important to us friends') %>.
            </p>
            <p v-if="!showPostsSection" class="d-flex justify-content-end">
                <a href="/blog" class="u-border-radius-0 u-btn u-btn-rectangle u-button-style u-palette-1-base
                u-btn-3"><%= __('detailed') %></a>
            </p>
        </div>
    </section>

    <% /* ПОСТ БЛОГА */ %>

    <patzi-blog-post v-if="showPostsSection" :obj-data="seo" :post="post"></patzi-blog-post>


    <router-view></router-view>

    <!-- <modal class="example-modal" v-if="modal==='example'" @close="closeExampleModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title"><%= __('Dog Shows') %></h2>
      <p><%= __('An exciting journey into the world of dogs through the prism of the exhibition marathon.') %></p>
      <p><%= __('Have you ever been at an international dog show, for example, at the World Dog Show? Have you ever participated in these exhibitions? We invite you to discover this new, exciting journey of joy and charm with your beloved pet. After all, you are on this site is not accidental!? In our kennel there is always a desperate and sweet dog, ready to accompany you on this journey, which will become your most reliable friend on trips to countries and exhibitions. Discover the new world of dogs - show dogs!') %></p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading"><%= __('Chapter') %> 1: 10/06/2018, <%= __('Moscow') %>
        , <%= __('China Town shopping and entertainment center') %>.</h5>


      <p><%= __('On video') %> Chinese Crested Dog: Poale Ell Bazhen </p>
      <div class="embed-responsive embed-responsive-16by9">

        &lt;!&ndash;<iframe width="560" height="315" src="https://www.youtube.com/embed/Z5SmaOld7lM" frameborder="0"&ndash;&gt;
        &lt;!&ndash;allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"&ndash;&gt;
        &lt;!&ndash;allowfullscreen></iframe>&ndash;&gt;
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Z5SmaOld7lM?start=4" frameborder="0"
                allow="accelerometer; autoplay; encrypted media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <div class="p-3">
        <h3><%= __('The First Dog Show of Bazhen') %>.</h3>
        <p>- MKOO “Empire of Stars”, All-French Dog Show CAC - ChF, judge MIHAIL PAPADATOS (Greece)
          POALE ELL BAZHEN - right on, CW, JCAC, BJ, BOB</p>
        <p> - MKOO “Atlantis”, All-Russian Dogshow, CAC - ChF, le juge PAOLO LOVAGLIO (Italy)
          POALE ELL BAZHEN - right on, CW, JCAC, BJ, BOB</p>
        <p><%= __('This is the first exhibition of Bazhen. Baby got a great description') %>.</p>
      </div>

      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="https://d1lyb0stb8az10.cloudfront.net/ds-1.jpg"
             title="">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-1.jpg" alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="https://d1lyb0stb8az10.cloudfront.net/ol.jpg"
             title="">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ol.jpg" alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="https://d1lyb0stb8az10.cloudfront.net/ds-3.jpg"
             title="">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-3.jpg" alt="">
          </a>
        </div>
      </div>


      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="https://d1lyb0stb8az10.cloudfront.net/ds-4.jpg"
             title="">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-4.jpg" alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="https://d1lyb0stb8az10.cloudfront.net/ds-5.jpg"
             title="">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-5.jpg" alt="">
          </a>
        </div>
      </div>


      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="https://d1lyb0stb8az10.cloudfront.net/ds-6.jpg"
             title="">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-6.jpg" alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="https://d1lyb0stb8az10.cloudfront.net/ds-7.jpg"
             title="">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-7.jpg" alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="https://d1lyb0stb8az10.cloudfront.net/ds-8.jpg"
             title="">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-8.jpg" alt="">
          </a>
        </div>
      </div>

      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight">
          <a class="grouped_elements" rel="group1" href="https://d1lyb0stb8az10.cloudfront.net/ds-9.jpg">
            &lt;!&ndash;<img class="img-fluid" src="https://d1lyb0stb8az10.cloudfront.net/ds-9.jpg" alt="">&ndash;&gt;
            <el-image class="f-img img-fluid mx-auto" :src="getSrc('ds-9.jpg')"
                      alt=""></el-image>
          </a>
        </div>
        <div class="p-2 bd-highlight"><a class="grouped_elements" rel="groupe1"
                                         href="https://d1lyb0stb8az10.cloudfront.net/ds-10.jpg"><img
              class="img-fluid" src="https://d1lyb0stb8az10.cloudfront.net/ds-10.jpg" alt=""></a></div>
        <div class="ml-auto p-2 bd-highlight">
          <a class="grouped_elements" rel="group1" href="https://d1lyb0stb8az10.cloudfront.net/ds-11.jpg">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-11.jpg" alt="">
          </a>
        </div>
      </div>

      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="https://d1lyb0stb8az10.cloudfront.net/ds-3.jpg"
             title="">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-3.jpg" alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="https://d1lyb0stb8az10.cloudfront.net/ds-9.jpg"
             title="">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-9.jpg" alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="https://d1lyb0stb8az10.cloudfront.net/ds-5.jpg"
             title="">
            <img class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-5.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight"><a class="grouped_elements" rel="groupe1"
                                         href="https://d1lyb0stb8az10.cloudfront.net/ds-9.jpg"><img
              class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-9.jpg" alt=""></a></div>
        <div class="p-2 bd-highlight"><a class="grouped_elements" rel="group1"
                                         href="https://d1lyb0stb8az10.cloudfront.net/ds-10.jpg"><img
              class="img-fluid lazyload" data-src="https://d1lyb0stb8az10.cloudfront.net/ds-10.jpg" alt=""></a></div>
        <div class="ml-auto p-2 bd-highlight">
          <a class="grouped_elements" rel="group1" href="https://d1lyb0stb8az10.cloudfront.net/ds-11.jpg">
            <img class="img-fluid lazyload " data-src="https://d1lyb0stb8az10.cloudfront.net/ds-11.jpg" alt="">
          </a>
        </div>
      </div>


    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-info"><%= __('Close') %></button>
      <button type="button" data-dismiss="modal" class="btn btn-outline-danger"><%= __('Cancel') %></button>
    </div>
  </modal>-->
</div>

<%- /* Exposé des locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
