<div id="dogs-home" class="content" v-cloak>

  <div @click="feedback($event)" class="rasp">
    <i class="ti-announcement"></i> <%= __('Feedback about this page?') %>
  </div>

  <% /* Диалоговое окно. Feedback about this page?. */ %>
  <modal v-if="dialogFormVisible" v-cloak key="delete"
         @close="closeDeleteThingModal()">
    <ajax-form action="deliverContactFormMessage" :syncing.sync="syncing" :cloud-error.sync="cloudError"
               :handle-parsing="handleParsingDeleteThingForm"
               @submitted="submittedDeleteThingForm()">
      <div class="modal-body">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary mr-1" @click="dialogFormVisible=false"><%= __('Cancel') %></button>
        <button type="submit" class="btn btn-danger ml-1"><%= __('Send feedback') %></button>
      </div>
    </ajax-form>
  </modal>
  <!-- <el-dialog title="" :visible.sync="dialogFormVisible" class="text">
     <textarea class="form-control text" id="exampleFormControlTextarea1" rows="10"></textarea>
     <span slot="footer" class="dialog-footer">
     <el-button @click="dialogFormVisible = false">Cancel</el-button>
     <el-button type="primary" @click="dialogFormVisible = false">Send feedback</el-button>
   </span>
   </el-dialog>-->

  <% /* Диалоговое окно. Тарифы. */ %>
  <el-dialog
    :visible.sync="centerDialogVisible"
    width="70%"
    style="margin-top: 1vh"
    center>


    <!-- Start Pricing Area -->
    <section class="">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title text-center">
              <h3><%= __('Annual subscription') %></h3>
              <h2 class="mt-5"><span><%= __('Tariff Plans') %></span></h2>
              <p>
              <ul>
                <li><span class="ti-close cross mx-2 text-danger"></span><%= __('Not included in the price') %></li>
              </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <el-alert
            title="<%= __('You have not linked a payment source to your account. In order to access paid features, you\'ll need to provide your credit card information. (Don\'t worry: you will only be charged when you\'ve reached the limit of your free plan.)') %>"
            type="warning">
          </el-alert>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="pricing_item">
              <h3 class="p_title"><%= __('User') %></h3>
              <p class="p_criteria"><%= __('What is included in the price') %>.</p>
              <h1 class="p_price">&euro;0</h1>
              <div class="p_list">
                <ul>

                  <li><span class="ti-check"></span> <%= __('View open site sections') %></li>
                  <li><span class="ti-check"></span> <%= __('Write comments') %></li>
                  <li><span class="ti-close cross"></span><%= __('Add dogs') %> </li>
                  <li><span class="ti-close cross"></span> <%= __('Edit dogs') %></li>
                  <li><span class="ti-close cross"></span> <%= __('Add kennel') %></li>
                  <li><span class="ti-close cross"></span> <%= __('Edit kennel') %></li>
                </ul>
                <!--<a class="primary-btn mt-4" href="#" data-text="<%= __('Detailed') %>">-->
                  <!--<span>D</span>-->
                  <!--<span>e</span>-->
                  <!--<span>t</span>-->
                  <!--<span>a</span>-->
                  <!--<span>i</span>-->
                  <!--<span>l</span>-->
                  <!--<span>e</span>-->
                  <!--<span>d</span>-->
                <!--</a>-->
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="pricing_item">
              <h3 class="p_title"><%= __('Owner') %></h3>
              <p class="p_criteria"><%= __('What is included in the price') %>.</p>
              <h1 class="p_price">&euro;5</h1>
              <div class="p_list">
                <ul>
                  <li><span class="ti-check"></span> <%= __('View open site sections') %></li>
                  <li><span class="ti-check"></span> <%= __('Write comments') %></li>
                  <li><span class="ti-check"></span> <%= __('Add 3 dogs') %></li>
                  <li><span class="ti-check"></span> <%= __('Edit 3 dogs') %></li>
                  <li><span class="ti-close cross"></span> <%= __('Add kennel') %></li>
                  <li><span class="ti-close cross"></span> <%= __('Edit kennel') %></li>

                </ul>
                <a class="primary-btn mt-4" href="#" data-text="<%= __('Detailed') %>">
                  <span>D</span>
                  <span>e</span>
                  <span>t</span>
                  <span>a</span>
                  <span>i</span>
                  <span>l</span>
                  <span>e</span>
                  <span>d</span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="pricing_item">
              <h3 class="p_title"><%= __('Breeder') %></h3>
              <p class="p_criteria"><%= __('What is included in the price') %>.</p>
              <h1 class="p_price">&euro;8</h1>
              <div class="p_list">
                <ul>
                  <li><span class="ti-check"></span> <%= __('View open site sections') %></li>
                  <li><span class="ti-check"></span> <%= __('Write comments') %></li>
                  <li><span class="ti-check"></span> <%= __('Add dogs') %></li>
                  <li><span class="ti-check"></span> <%= __('Edit dogs') %></li>
                  <li><span class="ti-check"></span> <%= __('Add kennel') %></li>
                  <li><span class="ti-check"></span> <%= __('Edit kennel') %></li>
                </ul>
                <a class="primary-btn mt-4" href="#" data-text="<%= __('Detailed') %>">
                  <span>D</span>
                  <span>e</span>
                  <span>t</span>
                  <span>a</span>
                  <span>i</span>
                  <span>l</span>
                  <span>e</span>
                  <span>d</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div slot="footer" class="dialog-footer mb-3 pb-5">

    <el-button  @click="centerDialogVisible = false"><%= __('Close') %></el-button>
      <el-button type="success"  @click="goToCard()" size="large"><%= __('Add card') %></el-button>
  </div>
  </el-dialog>

  <% /* Диалоговое окно. Предупреждение | Warning. */ %>
  <el-dialog
    title="<%= __('Warning') %>"
    :visible.sync="centerDialogVisibleWarnings"
    width="53%"
    style="margin-top: 17vh"
    center>
    {{warning}}

    <span slot="footer" class="dialog-footer">
    <el-button @click="goToKennel()"><%= __('Add kennel') %></el-button>
    <el-button type="primary" @click="centerDialogVisibleWarnings = false"><%= __('Close') %></el-button>
  </span>
  </el-dialog>

  <el-dialog title="<%= __('Portfolio') %>" :visible.sync="dialogTableVisible">
    <template>
      <el-carousel indicator-position="outside" height="65vh">
        <el-carousel-item v-for="(item, index) of items" :key="index">
          <div class="d-flex justify-content-center align-items-center">
            <img :src="item.src" class="img-fluid height"
                 alt="A generic square placeholder image with rounded corners in a figure.">
          </div>
        </el-carousel-item>
      </el-carousel>
    </template>
  </el-dialog>

  <!-- start banner Area -->
  <section class="banner-area relative">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white"><%= __('Chinese Crested Dog') %></h1>
          <p class="text-white"><%= __('Dog catalog') %></p>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->


  <!-- Start Sample Area -->
  <section class="sample-text-area">
    <div class="container">
      <h3 class="text-heading"><%= __('Dog Catalog World') %></h3>
      <p class="sample-text">
        <%= __('The page presents dogs of the Chinese Crested Dog. This is a database of dogs of this breed can not claim to be complete information, like any other database in the world. The only question is who uses it. As the mechanism for updating and collecting data on known dogs grows and improves, this database will collect, maintain and update the actual information that appears in open access to other sites in automatic mode. Generating a complete list of dogs of the world in the Chinese Crested Dog breed.') %>
      </p>
      <div v-if="me.hasBillingCard || me.isSuperAdmin" class="mt-5 section-title text-center">
        <!--<button @click="clickAddButton()" class="btn btn-outline-info"><%= __('Add dog') %></button>-->
        <button @click="clickAddDog()" class="btn btn-outline-info"><%= __('Add dog') %></button>
      </div>
      <div class="mt-5 section-title text-center" v-else>
        <button @click="centerDialogVisible = true" class="btn btn-outline-info"><%= __('Add dog') %></button>
      </div>
    </div>
  </section>
  <!-- End Sample Area -->

  <% /* Диалоговое окно. Добавить собаку. */ %>
  <el-dialog
    title="<%= __('Add your dog') %>"
    :visible.sync="centerDialogAdded"
    custom-class="dialog-kennel-add"
    center>


    <el-dialog
      width="80%"
      top="3vh"
      title="Continents 6"
      :visible.sync="innerVisible"
      append-to-body>

      <div class="justify-content-center">
        <el-image
          style="width: inherit; height: auto"
          :src=url
          :fit="fit"></el-image>

      </div>
    </el-dialog>

    <div class="container">
      <div v-if="ruleForm.imageUrl" class="col">
        <div class="single-gallery-image" :style="{ backgroundImage: `url('${ruleForm.imageUrl}')` }"></div>
      </div>
      <!--<img src="https://d3a1wbnh2r1l7y.cloudfront.net/1920px-Flag_of_the_Republic_of_Abkhazia.svg.png" class="img-fluid" alt="Responsive image">-->
      <div class="form-group py-2">
        <h5><%= __('Multiple upload photos') %></h5>
        <label v-if="!ruleForm.imageUrl">
          <%= __('Make albums, dividing by event or by time group of photos. Describe events, tell about the photo, thereby structuring your memories and events.') %>
        </label>
        <hr>
        <div class="photo-uploader">
          <div class="row">
            <div class="col-md-12 ">
              <el-upload
                action="/api/v1/upload/file"
                drag
                multiple
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove"
                :before-upload="beforeAvatarUpload">
                <i class="el-icon-plus"></i>
              </el-upload>
              <br>
              <el-dialog :visible.sync="dialogVisible">
                <img width="100%" :src="dialogImageUrl" alt="">
              </el-dialog>
            </div>
          </div>
        </div>
      </div>
    </div>


    <el-row :gutter="20">
      <el-col :span="1"></el-col>
      <el-col :span="23">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm"
                 label-width="120px" class="demo-ruleForm">


          <el-form-item label="<%= __('Kennel') %>" prop="kennel">
            <el-select v-model="ruleForm.kennel" placeholder="<%= __('Where is the kennel registered?') %>"
                       style="width: 58%;"
                       @change="changeKennel">
              <el-option v-for="item in getPullKennel()"
                         :key="item.id"
                         :label="item.label"
                         :value="item.id">
                <span style="float: left">{{ item.label }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">{{ item.labelRu }}</span>
            </el-select>
          </el-form-item>


          <template v-if="ruleForm.kennel">
            <el-form-item label="<%= __('Dog') %>" prop="label">
              <el-input minlength="3" maxlength="80" show-word-limit
                        placeholder="<%= __('The official name') %>"
                        v-model="ruleForm.label"></el-input>
            </el-form-item>
          </template>


          <el-form-item label="<%= __('Number') %>" prop="registerNumber">
            <el-input minlength="3" maxlength="20" show-word-limit
                      v-model="ruleForm.registerNumber"
                      placeholder="<%= __('Kennel registration number') %>"></el-input>
          </el-form-item>

          <!--<template>
            <el-form-item label="<%= __('Continent') %>" prop="continent">
              <el-select @change="changeSelectContinent()" v-model="ruleForm.continent"
                         placeholder="<%= __('Where is the nursery registered?') %>"
                         style="width: 58%;">
                <el-option v-for="item in continents"
                           :key="item.id"
                           :label="item.label"
                           :value="item.id">
                  <span style="float: left">{{ item.label }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">{{ item.labelRu }}</span>
              </el-select>

              <el-tooltip class="ml-3" effect="dark" content="<%= __('Continental Information') %>"
                          placement="top-start">
                <el-button @click="innerVisible=true" size="mini" round icon="el-icon-question"></el-button>
              </el-tooltip>
            </el-form-item>


          </template>-->


          <template v-if="ruleForm.kennel">
            <el-form-item label="<%= __('City') %>" prop="city">

              <el-autocomplete
                popper-class="my-autocomplete"
                v-model="ruleForm.city"
                :fetch-suggestions="querySearch"
                placeholder="<%= __('Please Input City') %>"
                :trigger-on-focus="false"
                @select="handleSelect"
                style="width: 58%;"
              >
                <template slot-scope="{ item }">

                  <span class="value">{{ item.value }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">{{ item.labelRu }}</span>
                </template>
              </el-autocomplete>
              <el-tooltip effect="dark" content="<%= __('English search') %>" placement="top-start">
                <div size="mini" round class="el-icon-question ml-3"></div>
              </el-tooltip>
            </el-form-item>
          </template>


          <template v-if="ruleForm.city">
            <el-form-item label="<%= __('Address') %>" prop="address">
              <el-input placeholder="<%= __('street, house, building') %>" minlength="3" maxlength="100" show-word-limit
                        v-model="ruleForm.address"></el-input>
            </el-form-item>
          </template>


          <!--<transition name="el-fade-in-linear">-->
          <!--<template v-if="ruleForm.city">-->
          <!---->
          <!--</template>-->
          <!--</transition>-->

          <% /* Как сделать обязательным заполнения телефона:
               :rules="{ required: true, message: 'Phone can not be null', trigger: 'blur' }" */ %>
          <el-form-item
            v-for="(phone, index) in ruleForm.phones"
            :label="'Phone: ' + `${index + 1}`"
            :key="phone.key"
            :prop="'phones.' + index + '.value'">
            <el-col :span="12">
              <el-input placeholder="<%= __('Phone number') %>" v-model="phone.value"></el-input>
              <el-input placeholder="<%= __('Full Name') %>" v-model="phone.fullName"></el-input>
            </el-col>
            <el-col :span="6">

              <el-button-group>
                <el-tooltip effect="dark" content="<%= __('Add phone') %>" placement="top-end">
                  <el-button @click="addDomain" size="mini" round icon="el-icon-share"></el-button>
                </el-tooltip>
                <el-tooltip effect="dark" content="<%= __('Remove phone') %>" placement="top-start">
                  <el-button @click.prevent="removeDomain(phone)" size="mini" round icon="el-icon-delete"></el-button>
                </el-tooltip>
              </el-button-group>

              <!--<el-button ><%= __('Add phone') %></el-button>-->
              <!--<el-button  ><%= __('Delete') %></el-button>-->
            </el-col>
            <el-col :span="6">

            </el-col>
          </el-form-item>


          <!--<el-form-item label="<%= __('Date') %>" required>
            <el-col :span="11">
              <el-form-item prop="dateCreate">
                <el-date-picker
                  type="date"
                  placeholder="<%= __('Registration date') %>"
                  v-model="ruleForm.dateCreate"
                  style="width: 100%;"
                ></el-date-picker>
              </el-form-item>
            </el-col>
          </el-form-item>-->

          <el-form-item label="<%= __('Name on') %>:" prop="rightName">
            <el-switch
              v-model="ruleForm.rightName"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-text="<%= __('right') %>"
              inactive-text="<%= __('left') %>">
            </el-switch>
            <el-tooltip effect="dark" placement="top-start">
              <div slot="content"><%= __('Where is the name of the dog in relation to the name of the kennel.') %><br>
                (<%= __('right: KennelName DogName | left: DogName KennelName') %>)"
              </div>
              <div size="mini" round class="el-icon-question ml-3"></div>
            </el-tooltip>

          </el-form-item>


          <el-form-item label="<%= __('WebSite') %>" prop="site">
            <el-input minlength="3" maxlength="30" show-word-limit
                      placeholder="<%= __('Without http:// | https://') %>" v-model="ruleForm.site">
              <template slot="prepend">//</template>
            </el-input>
          </el-form-item>

          <el-form-item label="<%= __('Your kennel?') %>" prop="yourKennel">
            <el-switch
              v-model="ruleForm.yourKennel"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-text="Yes!"
              inactive-text="No"
            >
            </el-switch>
            <el-tooltip effect="dark" placement="top-start">
              <div slot="content"><%= __('Is the kennel registered to you, are you a breeder?') %></div>
              <div size="mini" round class="el-icon-question ml-3"></div>
            </el-tooltip>
          </el-form-item>


          <el-form-item v-if="ruleForm.yourKennel" label="<%= __('About Us') %>" prop="subtitle">
            <el-input minlength="10" maxlength="100" show-word-limit
                      placeholder="<%= __('Tell us about the kennel') %>" type="textarea"
                      v-model="ruleForm.subtitle"></el-input>
          </el-form-item>

          <div class="my-3 pt-4">
            <el-form-item>
              <el-button type="primary" @click="submitForm('ruleForm')"><%= __('Create') %></el-button>
              <el-button @click="resetForm('ruleForm')"><%= __('Reset') %></el-button>
              <el-button @click="centerDialogAdded = false"><%= __('Cancel') %></el-button>
            </el-form-item>
          </div>
        </el-form>

      </el-col>

    </el-row>


    <span slot="footer" class="dialog-footer">

<!--    <el-button @click="goTo()"><%= __('Add card') %></el-button>
    <el-button type="primary" @click="centerDialogVisible = false"><%= __('Close') %></el-button>-->
  </span>
  </el-dialog>


  <!-- Portfolio Details Area -->
  <!--    <section class="portfolio_details_area section-gap">
      <div class="container">
        <div class="portfolio_details_inner">
          <div class="row">
            <div class="col-md-6">
              <div class="left_img">
                <a href="#" @click="showSlider()"><img class="img-fluid" :src="dog.imageSrc" alt=""></a>
              </div>
            </div>

            <div class="offset-md-1 col-md-5">
              <div class="portfolio_right_text mt-30">
                <h4><%= __('Dog') %> {{dog.label.toUpperCase()}}</h4>
                <p v-if="dog.subtitle">{{dog.subtitle}}</p>
                <div class="block mb-5">

                  <el-rate
                    v-model="ratio"
                    :colors="colors"
                    @change="changeRatio()"
                    show-score
                    text-color="#ff9900"
                    score-template=" <%= __('points') %> {value} "
                  >
                  </el-rate>
                </div>

                <ul class="list">
                  <li><span><%= __('Name') %>
                      <el-tooltip class="item" effect="dark" content="<%= __('Pre puppy name at birth.') %>"
                                  placement="right-start">
                           <i class="el-icon-question"></i>
                   </el-tooltip>
                  </span>: {{dog.title}}
                  </li>
                  <li><span>Sire</span>: Alfa Laval De Lux Supernova</li>
                  <li><span>Dam</span>: Sasquehanna (FCI) Ella</li>
                  <li><span>Dob</span>: {{dog.born}}</li>
                </ul>
              </div>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis aute irure dolor in reprehenderit.</p>
          <p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt
            in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto
            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia
            dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
            dolore magnam
            aliquam quaerat voluptatem.</p>
        </div>
      </div>
    </section>
    <!-- End Portfolio Details Area -->

</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
