<div id="forgot-password" v-cloak>
  <section class="u-clearfix u-image u-shading u-section-1" src="" id="sec-c148">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-border-1 u-border-palette-4-light-1 u-container-style u-custom-color-4 u-group u-opacity u-opacity-50 u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h3 class="u-align-center u-text u-text-1"><%= __('Restore password') %></h3>
          <div class="forgot-form" v-if="!cloudSuccess">
          <p class="u-align-center u-text u-text-2"><%= __('Enter your email address below to reset the password for your account.') %></p>
          <div class="u-align-left u-form u-form-1">
            <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()"
                       :handle-parsing="handleParsingForm" class="u-form-horizontal u-form-spacing-15 u-inner-form u-inner-form-1" source="custom">
              <div class="u-form-email u-form-group">
                <label for="email-0f32" class="u-form-control-hidden u-label">Email</label>
                <!--<input type="email" placeholder="Email" id="email-0f32" name="email" class="u-border-1 u-border-grey-15 u-custom-color-4 u-input" required="">-->
                <input type="email" name="email-address" class="u-border-1 u-border-grey-15 u-custom-color-4 u-input" placeholder="setter@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
              </div>
              <div class="u-form-group u-form-submit">
                <ajax-button type="submit" :syncing="syncing" class="u-border-radius-0 u-btn u-btn-rectangle u-btn-submit u-button-style u-palette-1-base u-btn-1"><%= __('Send reset link') %></ajax-button>
                <!--<a href="#" class="u-border-radius-0 u-btn u-btn-rectangle u-btn-submit u-button-style u-palette-1-base u-btn-1">Отправить</a>-->
                <!--<input type="submit" value="submit" class="u-border-grey-15 u-custom-color-4 u-form-control-hidden" placeholder="">-->
              </div>
              <div class="u-form-send-message u-form-send-success" style="background-color: rgb(98, 197, 132); color: rgb(255, 255, 255);">Спасибо! Ваше сообщение отправлено.</div>
              <div class="u-form-send-error u-form-send-message" style="background-color: rgb(249, 93, 81); color: rgb(255, 255, 255);">Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз.</div>
              <input type="hidden" value="" name="recaptchaResponse">
              <div class="invalid-feedback" v-if="formErrors.emailAddress"><%= __('Please enter a valid email address') %>.</div>
            </ajax-form>
          </div>
          <a href="/login" class="u-link u-text-grey-10 u-text-hover-white u-link-1"><%= __('Back to login') %></a>
          </div>
          <div class="success-message" v-if="cloudSuccess">
            <p><%= __('We\'ve sent you a link to update your password.') %></p>
            <hr/>
            <p><%= __('If the email doesn’t arrive after a few minutes, try checking your spam folder.  If you still can’t find it, please try again, or') %> <a href="/contact"><%= __('contact support') %></a>.</p>
            <p class="text-center"><a class="btn btn-outline-primary" href="/login"><%= __('Back to login') %></a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
