<div id="topics-home" class="content pb-5" v-cloak>
  <% /* Диалоговое окно. Добавить | Редактировать тему. */ %>
  <el-dialog title="<%= __('Add topic') %>"
             :visible.sync="centerDialogAdded"
             custom-class="dialog-add"
             center>
    <% /* Диалоговое окно. Не верный язык ввода. Только для английского */ %>
    <el-dialog
      title="<%= __('Error') %>"
      width="30%"
      :visible.sync="ruleForm.errInputLang"
      :show-close=false
      append-to-body>
      <span><%= __('This field is only filled') %>
        <%= __('english') %>
        <%= __('letters. Switch the keyboard to the correct layout.') %></span>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary"
                     @click="ruleForm.errInputLang=false; ruleForm.label=''">
            Ok</el-button>
      </span>
    </el-dialog>
    <% /* Диалоговое окно. Не верный язык ввода. Только для русского */ %>
    <el-dialog
      title="<%= __('Error') %>"
      width="30%"
      :visible.sync="ruleForm.errInputLangRu"
      :show-close=false
      append-to-body>
      <span><%= __('This field is only filled') %>
        <%= __('russians') %>
        <%= __('letters. Switch the keyboard to the correct layout.') %></span>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary"
                     @click="ruleForm.errInputLangRu=false; ruleForm.labelRu=''">
            Ok</el-button>
      </span>
    </el-dialog>
    <% /* Диалоговое окно. Подсказка о использование поля пароля. */ %>
    <!--  <el-dialog
        title="Установка пароля"
        :visible.sync="dialogVisiblePass"
        custom-class="dia"
        :before-close="handleClose"
        append-to-body>
        <p>1. Если вы не устанавливаете пароль, то он генерируется автоматически. Это удобно использовать когда Вам нет необходимости заходить
          на сайт под именем данного пользователя, т.к. пароль вы не будете знать. В то же время при нажатие кнопки "Отправить пароль на
          email"
          вы отправите сгенерированный пароль реальному пользователю данного Email.<br>
          <i class="el-icon-warning-outline"></i> Используйте эту процедуру когда вас попросили создать чужой аккаунт и вы знаете реальный
          емайл пользователя.</p>
        <p class="pt-2" style="word-break: break-all">2. Если вы устанавливаете пароль, то его следует вписать в оба поля одинаково.
          <br> <i class="el-icon-warning-outline"></i> Используйте эту процедуру когда вам нужно войти от имени данного пользователя в
          систему, чтобы произвести какие-то действия от его имени. Например создать питомник и добавить собак.</p>
        <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisiblePass = false">Cancel</el-button>
    </span>
      </el-dialog>-->

    <% /* Диалоговое окно. Подсказка о использование поля Email. */ %>
    <!--  <el-dialog
        title="Установка Email пользователя"
        :visible.sync="dialogVisibleEmail"
        custom-class="dia"
        :before-close="handleClose"
        append-to-body>
        <p>1. Если вы не устанавливаете Email, то он генерируется автоматически. За основу берётся полное имя пользователя.
          <br>
          <i class="el-icon-warning-outline"></i> Используйте эту процедуру чтобы создать пользователя в системе к которому нужно привязать
          данные например питомник, но вы не знаете его контактных данных или вам не важны его контактные данные.</p>
        <p class="pt-2" style="word-break: break-all">
          2. Если вы устанавливаете Email, то с помощью кнопок "Да" и "Нет" вы можете определить будет ли email подтверждён или нет.
          Для правильной связи с пользователем требуется проверенный контакт, в данном случае адрес электронной почты.
          Если этот контакт не был подтверждён пользователем из письма, которое отправляется ему при регистрации, то возможны ошибки
          в написании email или не идентифицированные пользователи в системе. Этого нельзя допускать.
          <br>Если email не подтверждён, некоторые возможности работы в системе будут не доступны, например не
          возможно будет привязать этого пользователя к питомнику в качестве совладельца.
          <br> <i class="el-icon-warning-outline"></i>
          Рекомендуется активировать кнопку "Да".
        </p>
        <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisibleEmail = false">Cancel</el-button>
    </span>
      </el-dialog>-->

    <% /* Диалоговое окно. Подсказка о использование поля Группы. */ %>
    <!--<el-dialog
      title="Установка Email пользователя"
      :visible.sync="dialogVisibleGroup"
      custom-class="dia"
      :before-close="handleClose"
      append-to-body>
      <p>
        Обязательно установите группу "user" если Email стоит "Да".
      </p>
      <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisibleGroup = false">Cancel</el-button>
  </span>
    </el-dialog>-->


    <template v-if="!ruleForm.see">
      <el-popover
        ref="popover"
        placement="top"
        title="<%= __('Visibility') %>"
        width="275"
        trigger="hover"
        content="<%= __('At the moment, the topic is hidden, that is, it will not be visible in the system and therefore articles on this topic are also hidden. Set the visibility.') %>">
      </el-popover>
      <div class="flex justify-content-center">
        <h1 v-if="buttonUpdate" class="flex justify-content-center"
            :class="classObject"
        >{{ruleForm.labelRu}}
        </h1>
        <el-button class="not-border text-danger" icon="el-icon-warning-outline" size="mini" v-popover:popover circle></el-button>
      </div>
    </template>
    <template v-else>
      <h1 v-if="buttonUpdate" class="flex justify-content-center"
          :class="classObject"
      >{{ruleForm.labelRu}}</h1>
    </template>


    <div v-if="ruleForm.imageUrl">
      <div class="single-gallery-image" :style="{ backgroundImage: `url('${ruleForm.imageUrl}')` }"></div>
    </div>
    <div class="flex justify-content-center">
        <el-image v-if="ruleForm.imagesArrUrl"
          style="width: 200px; height: 200px"
          :src="ruleForm.imagesArrUrl[0]"
          :preview-src-list="ruleForm.imagesArrUrl">
        </el-image>
      </div>
    <h5><%= __('Multiple upload photos') %></h5>
    <label v-if="!ruleForm.imageUrl">
      <%= __('Download right before') %> {{limit}} <%= __('photos for this module.') %>
      <%= __('Please note that the weight of the photo file should not exceed') %> {{sizeLess}}M.
      <%= __('You can download whatever you want without selecting photos, the system itself will produce the result of those images that have been selected by restrictions.') %>

    </label>
    <div class="my-2">
      <el-divider content-position="left"><%= __('Add photo') %></el-divider>
    </div>

    <!---------------------------------------------------------------------------------------->
    <% /*Загрузка фото NEW*/ %>
    <el-row type="flex" class="row-bg" justify="center">
      <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
        <el-upload
          action="/api/v1/files/upload"
          list-type="picture-card"
          drag
          multiple
          ref="upload"
          :on-preview="handlePictureCardPreview"
          :before-upload="beforeUpload"
          :limit="limit"
          :on-success="handleSuccess"
          :on-exceed="handleExceed"
          :on-remove="handleRemove"
        >
          <i class="el-icon-plus"></i>
          <div class="el-upload__tip" slot="tip"><%= __('jpg/png files with a size less than ') %>
            {{sizeLess}}<%= __('MB') %></div>
        </el-upload>
        <br>
        <el-dialog :visible.sync="dialogVisible">
          <img :src="dialogImageUrl" alt="">
        </el-dialog>
      </el-col>
    </el-row>
    <!---------------------------------------------------------------------------------------->


    <el-row type="flex" class="row-bg" justify="center">
      <el-col :xs="24" :sm="24" :md="24" :lg="20" :xl="20">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="demo-ruleForm">
          <% /* ВИДНА ТЕМА ИЛИ НЕТ */ %>
          <el-form-item prop="see">
            <el-switch
              style="display: block"
              v-model="ruleForm.see"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-text="<%= __('visible') %>"
              inactive-text="<%= __('not visible') %>">
            </el-switch>
          </el-form-item>

          <% /* НАЗВАНИЕ ТЕМЫ на английском*/ %>
          <template>

            <el-form-item label="<%= __('Topic Title') %> (En)" prop="label">
              <el-input show-word-limit
                        style="width:80%;"
                        size="small"
                        :keyup="ruleForm.label | abcEn(ruleForm)"
                        placeholder="<%= __('Topic Title') %>"
                        v-model="ruleForm.label"></el-input>
            </el-form-item>
          </template>

          <% /* НАЗВАНИЕ ТЕМЫ на русском*/ %>
          <template>
            <el-form-item label="<%= __('Topic Title') %> (Ru)" prop="labelRu">
              <el-input show-word-limit
                        style="width:80%;"
                        size="small"
                        :keyup="ruleForm.labelRu | abcRu(ruleForm)"
                        placeholder="<%= __('Topic Title') %>"
                        v-model="ruleForm.labelRu"></el-input>
            </el-form-item>
          </template>

          <% /* ОПИСАНИЕ */ %>
          <template>
            <el-form-item label="<%= __('Description') %>" prop="subtitle">
              <el-col :xs="16" :sm="15" :md="15" :lg="14" :xl="14">
                <el-input
                  type="textarea"
                  :rows="3"
                  autosize
                  placeholder="Please input"
                  v-model="ruleForm.subtitle"
                  maxlength="1700"
                  show-word-limit>
                </el-input>
              </el-col>
            </el-form-item>
          </template>


          <div class="my-3 pt-4 text-center hidden-xs-only">
            <el-form-item>
              <el-button v-if="!buttonUpdate" @click="resetForm('ruleForm')"><%= __('Reset') %></el-button>
              <el-button @click="buttonUpdate = false; centerDialogAdded = false"><%= __('Cancel') %></el-button>
              <el-button v-if="!buttonUpdate" type="primary"
                         @click="submitForm('ruleForm')"><%= __('Create') %></el-button>
              <el-button v-else type="primary" @click="submitForm('ruleForm')"><%= __('Update') %></el-button>

            </el-form-item>
          </div>
          <div class="text-center hidden-sm-and-up">
            <el-button-group>
              <el-button @click="resetForm('ruleForm')" icon="el-icon-minus"></el-button>
              <el-button @click="buttonUpdate = false; centerDialogAdded = false" icon="el-icon-close"></el-button>
              <el-button v-if="!buttonUpdate" type="primary"
                         @click="submitForm('ruleForm')" icon="el-icon-check"></el-button>
              <el-button v-else type="primary" @click="submitForm('ruleForm')" icon="el-icon-check"></el-button>
            </el-button-group>
          </div>
        </el-form>
      </el-col>
    </el-row>

    <span slot="footer" class="dialog-footer">
  </span>
  </el-dialog>
  <% /* Диалоговое окно Редактор тем. Список тем*/ %>
  <el-dialog title="<%= __('Dog editor') %>. <%= __('List') %>."
             custom-class="dialog-kennel-add"
             :visible.sync="dialogEditorList">
    <template>
      <el-table
        ref="filterTable"
        :row-class-name="tableRowClassName"
        :data="editorList.filter(data => !search || data.labelRu.toLowerCase().includes(search.toLowerCase())|| data.label.toLowerCase().includes(search.toLowerCase()))"
        :default-sort="{prop: ['createdAt'], order: 'descending'}"
        max-height="650"
        style="width: 100%">
        <el-table-column
          type="index"
          fixed="left"
          width="35">
        </el-table-column>

        <el-table-column
          property="cover"
          label=""
          fixed="left"
          width="90">
          <template slot="header" slot-scope="scope">

            <div class="d-flex justify-content-center"><i class="el-icon-user-solid"></i></div>
          </template>
          <template slot-scope="scope">
            <div v-if="!_.isEmpty(scope.row.images)">
              <a href="#" @click="clickShowPhoto(scope.$index,scope.row)" class="flex justify-content-center">
                <el-avatar :size="38" @error="errorHandler">
                  <img :src="scope.row.images[scope.row.cover].imageSrc"/>
                </el-avatar>
              </a>
            </div>
            <div v-else class="photo-preview col">
              <div class="image-wrapper round  d-flex align-items-center justify-content-center"><!----> <!----> <span
                  class="placeholder-icon fa fa-picture-o"></span></div>
            </div>
          </template>
        </el-table-column>


        <el-table-column
          label="<%= __('Title') %>"
          sortable
          prop="labelRu">
          <template slot-scope="scope">
            {{scope.row.labelRu}}
          </template>
        </el-table-column>


        <el-table-column
          label="(En)"
          sortableв
          prop="label"
          width="80">
          <template slot-scope="scope" >

            <el-popover
              placement="right-end"
              title=""
              width="300"
              trigger="hover"
              :content="scope.row.label">
              <el-button  @click="handleEdit(scope.$index, scope.row)" type="primary" icon="el-icon-edit" slot="reference" circle></el-button>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column align="right">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search"
              size="small"
              placeholder="Input dog name"
              clearable/>
          </template>
          <template slot-scope="scope">
            <el-tooltip content="<%= __('Image editor') %>" placement="left" effect="light">
              <el-button
                v-if="scope.row.images"
                size="mini"
                icon="el-icon-picture-outline-round"
                @click="handleEditPhotos(scope.$index, scope.row)">
              </el-button>
            </el-tooltip>
            <el-button
              size="mini"
              @click="handleEdit(scope.$index, scope.row)">
              Edit
            </el-button>
            <el-button
              size="mini"
              type="danger"
              @click="openRemoveDialog(scope.row.id)"
            >Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </template>
    <span slot="footer" class="dialog-footer">
      <span class="flex justify-content-between">
        <div>
         <el-button @click="clearFilter" class="btn btn-outline-info"><%= __('Reset filters') %></el-button>
</div>
        <div v-if="me.hasBillingCard || me.isSuperAdmin || me.isAdmin">
            <el-button @click="clickAddButton()" class="btn btn-outline-success"
                       icon="el-icon-circle-plus-outline"><%= __('Add topic') %></el-button>

        </div>
        <div>
            <el-button @click="buttonUpdate = false; dialogEditorList = false" class="btn btn-outline-info"><%= __('Close') %></el-button>
        </div>
      </span>
    </span>
  </el-dialog>
  <% /* Диалоговое окно. Фото темы. */ %>
  <el-dialog
    :title="objOne.fullName"
    custom-class="dialog-kennel-add"
    :visible.sync="photoVisible"
    :before-close="handleCloseDialog">
    <div class="menu-center" v-if="objOne.images">
      <img :src="objOne.images[objOne.cover].imageSrc" style="width: 100%" :alt="objOne.fullName">
    </div>
    <!--<div class="block">
      <el-image :src="objOne.img" class="cov">
        <div slot="placeholder" class="image-slot">
          Loading<span class="dot">...</span>
        </div>
      </el-image>
    </div>-->
    <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="objOne={};photoVisible = false"><%= __('Close') %></el-button>
  </span>
  </el-dialog>
  <% /* Диалоговое окно. Редактор картинок. */ %>
  <el-dialog
    :title="`${i19p.photoEditor} ${photos.fullName}`"
    :visible.sync="centerDialogVisiblePhotos"
    width="100vw"
    custom-class="dialog-images-editor"
    center>
    <el-dialog
      width="80vw"
      title="<%= __('Photo Description') %>"
      :visible.sync="photoDesc.innerVisiblePhotoDescription"
      append-to-body>
      <el-form ref="photoDesc" :model="photoDesc" label-width="120px">
        <el-form-item label="<%= __('Decription') %>">
          <el-input type="textarea" v-model="photoDesc.description"></el-input>
        </el-form-item>

        <el-form-item v-if="!photoDescUpdate" label="<%= __('Date taken') %>" prop="dateTaken">
          <el-row :gutter="2">
            <el-col :span="11">
              <el-date-picker
                v-model="photoDesc.dateTaken"
                type="datetime"
                placeholder="<%= __('Select date and time') %>"
                default-time="12:00:00">
              </el-date-picker>
            </el-col>
          </el-row>
        </el-form-item>
      </el-form>

      <el-form-item v-if="photoDescUpdate" label="<%= __('Date taken') %>" prop="dateTakenUpdate">
        <el-row :gutter="2">
          <el-col :span="11">
            <el-date-picker
              v-model="dateTakenUpdate"
              type="datetime"
              placeholder="<%= __('Select date and time') %>"
              default-time="12:00:00">
            </el-date-picker>
          </el-col>
        </el-row>
      </el-form-item>
      <span slot="footer" class="dialog-footer">
    <el-button @click="photoDesc.innerVisiblePhotoDescription = false">Cancel</el-button>
    <el-button type="primary" @click="updateDescriptionPhoto">Save</el-button>
  </span>
    </el-dialog>
    <div class="container">
      <div class=" mb-3 menu-between">
        <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">
          <%= __('Select all') %></el-checkbox>
        <span>
          <span class="mx-3">  <%= __('All files') %>:  {{_.isArray(photos.images)? photos.images.length : 0}}</span>
         <span class="mx-3"> <%= __('Marked') %>:  {{checkedPhoto.length}}</span>
        <el-button type="danger" v-if="checkedPhoto.length > 0" type="danger" class="mx-3" :underline="false"
                   @click="removePhotos"
                   class="mx-3"
                   title="<%= __('Remove') %>"
                   icon="el-icon-delete" circle></el-button>

          </span>
      </div>

      <el-checkbox-group v-model="checkedPhoto" @change="handleCheckedPhotosChange">
        <div class="photo-editor">

          <el-card shadow="hover" :body-style="{ padding: '0px'}"
                   v-for="(img, index, key) in photos.images"
                   :key="index + '-photo'">

            <template v-if="me.isSuperAdmin || isOwner">
              <div class="ell-relation" v-if="photos.cover === index">
                <el-button type="warning" size="mini" title="<%= __("Album's cover") %>"
                           class="ell-position-button check" icon="el-icon-star-off"
                           circle></el-button>
              </div>
              <div class="ell-relation" v-else>
                <el-button size="mini" title="<%= __('Make an album cover') %>"
                           class="ell-position-button" @click="coverPhoto(photos.id,index)"
                           icon="el-icon-document" circle></el-button>
              </div>
            </template>

            <img :src="img.imageSrc" class="image">


            <div style="padding: 14px;">
              <el-row :gutter="2">
                <el-col :span="11">
                  <el-link
                    @click="photoDesc.photoId=img.id; photoDesc.dateTaken=img.dateTaken; photoDesc.description=img.description;  photoDesc.innerVisiblePhotoDescription=true"
                    :underline="false"
                    type="primary"><%= __('Date taken') %>:
                  </el-link>
                </el-col>
                <el-col :span="13">
                  <el-link :underline="false" type="danger"> {{img.dateTaken | getCreate(me.preferredLocale, 'lll')}}</el-link>
                </el-col>
              </el-row>
              <el-row :gutter="2">
                <el-col :span="16">
                  <el-link :underline="false" type="primary"><%= __('File') %>:</el-link>
                </el-col>
                <el-col :span="8">
                  <el-link :title="img.name" :underline="false" type="primary"> {{_.trunc(img.name,10)}}</el-link>
                </el-col>
              </el-row>
              <el-row :gutter="2">
                <el-col :span="16">
                  <el-link :underline="false" type="primary"><%= __('Type') %>:</el-link>
                </el-col>
                <el-col :span="8">
                  <el-link :underline="false" type="primary"> {{img.type}}</el-link>
                </el-col>
              </el-row>
              <el-row :gutter="2">
                <el-col :span="16">
                  <el-link :underline="false" type="primary"><%= __('Size') %>:</el-link>
                </el-col>
                <el-col :span="8">
                  <el-link :underline="false" type="danger"> {{_.ceil(img.size/1024,2)}} Kb</el-link>
                </el-col>
              </el-row>


              <el-row :gutter="2">
                <el-col :span="16">
                  <el-link
                    @click="photoDesc.photoId=img.id; photoDesc.dateTaken=img.dateTaken; photoDesc.description=img.description; photoDesc.innerVisiblePhotoDescription=true"
                    :underline="false"
                    type="primary"><%= __('Description') %>:
                  </el-link>
                </el-col>
                <el-col :span="8">
                  <el-link :underline="false" type="danger"> {{_.trunc(img.description, 10)}}</el-link>
                </el-col>
              </el-row>


              <div class="bottom clearfix ">
                <div class="menu-center-2">
                  <el-checkbox :label="img.id" :key="img.id"></el-checkbox>
                  <el-link :href="img.detail" title="<%= __('More') %>" type="success" :underline="false"><i
                      class="el-icon-right"></i></el-link>
                </div>
              </div>
            </div>
          </el-card>
        </div>
      </el-checkbox-group>
    </div>
    <span slot="footer" class="dialog-footer">
    <el-button @click="centerDialogVisiblePhotos = false">Cancel</el-button>
  </span>
  </el-dialog>


  <patzi-section-header :obj-data="seo"></patzi-section-header>

  <patzi-row-h3-p :obj-data="seo"></patzi-row-h3-p>

  <section>
    <div class="container mb-5 pb-5">
      <el-row :gutter="5">
        <el-col :xs="24" :sm="8">
          <el-card shadow="hover">
            <p class="text-center">Всего: {{counts}}</p>
          </el-card>
        </el-col>
        <el-col :xs="24" :sm="8">
          <el-card shadow="hover" :body-style="{padding:'13px'}">
            <p v-if="me.isSuperAdmin || me.isAdmin" class="flex justify-content-center">
              <el-button @click="clickAddButton()" class="btn btn-outline-info"
                         icon="el-icon-circle-plus-outline"><%= __('Add') %></el-button>

            </p>
          </el-card>
        </el-col>
        <el-col :xs="24" :sm="8">
          <el-card shadow="hover">
            <p class="text-center"> Заблокировано: {{hidden}}</p>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </section>
  <section class="work-area">
    <div class="container">

      <% /* Кнопки управления, фильтры */ %>
      <div class="menu-between mb-1">
        <div><span class=" font-weight-bold">
            <%= __('Dogs') %>: Holl</span></div>

        <div class="grid-content">
          <el-dropdown @command="handleCommand">
                            <span class="el-dropdown-link">
                              <i class="el-icon-more el-icon--right pointer"></i>
                            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item icon="el-icon-female" :command="{com:'dam'}">
                <%= __('Dam') %>
              </el-dropdown-item>

              <el-dropdown-item icon="el-icon-male" :command="{com:'sire'}">
                <%= __('Sire') %>
              </el-dropdown-item>
              <el-dropdown-item icon="el-icon-camera-solid" :command="{com:'all'}">
                <%= __('All') %>
              </el-dropdown-item>

              <!--   <el-dropdown-item v-if="_.some(dogs, 'sale', true)" icon="el-icon-money"
                                :command="{com:'c'}">
                <%= __('For Sale') %>
              </el-dropdown-item>-->

              <el-dropdown-item v-if="me.isSuperAdmin || me.isAdmin || isOwner" icon="el-icon-edit" :command="{com:'e'}">
                <%= __('Theme Editor') %>
              </el-dropdown-item>

            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>

      <% /* ПОИСК. */ %>
      <div class="menu-center my-3">
        <el-input
          v-model="searchObjects"
          placeholder="<%= __('Search by dog name') %>"
          clearable/>
      </div>
    </div>
  </section>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
