<div id="dog" class="content" v-cloak>
  <% /* Диалоговое окно. Аватар пользователя. */ %>
  <el-dialog
    :title="(_.isEmpty(objOne.fullName) ? objOne.description : objOne.fullName)"
    custom-class="dialog-kennel-add"
    :visible.sync="photoVisible"
    :before-close="handleCloseDialog">
    <div class="menu-center" v-if="(_.isEmpty(objOne.avatar) ? objOne.imageSrc : objOne.avatar)">
      <img :src="(_.isEmpty(objOne.avatar) ? objOne.imageSrc : objOne.avatar)" style="width: 100%"
           :alt="(_.isEmpty(objOne.fullName) ? objOne.description : objOne.fullName)">
    </div>
    <!--<div class="block">
      <el-image :src="objOne.img" class="cov">
        <div slot="placeholder" class="image-slot">
          Loading<span class="dot">...</span>
        </div>
      </el-image>
    </div>-->
    <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="objOne={};photoVisible = false"><%= __('Close') %></el-button>
  </span>
  </el-dialog>
  <% /*Выезжающая вкладка НАГРАДЫ */ %>
  <el-drawer
    title="<%= __('Awards') %> <%= (dog.fullName) %>"
    :visible.sync="dialogFormAwards"
    :direction="direction"
    custom-class="awards"
  >
    <el-row type="flex" class="row-bg" justify="space-around">
      <el-col :span="1">
        <div class="grid-content bg-purple"></div>
      </el-col>
      <el-col :span="18">
        <div class="grid-content bg-purple-light">
          <!-- <h4><%= __('Welcome') %>, {{me.fullName}}!</h4>
          <p>{{i19p.startOfNegotiations}} {{this.fullNameDogNegotiations}}.</p>
          <p>{{i19p.startOfNegotiations2}}</p>-->
        </div>
      </el-col>
      <el-col :span="1">
        <div class="grid-content bg-purple"></div>
      </el-col>
    </el-row>
    <el-row type="flex" class="row-bg" justify="space-around">
      <el-col :span="1">
        <div class="grid-content bg-purple"></div>
      </el-col>
      <el-col :span="18">
        <div class="mt-4">
          <% /* Поле ввода комментария */ %>
          <!--<el-form @submit.native.prevent>
            <el-form-item>
              <el-input @keyup.enter.native="addComment('negotiation')"
                        class="lb mt-2"
                        maxLength="1000"
                        clearable
                        placeholder="<%= __('Write a message') %>"
                        v-model="comment">
                <i slot="prefix" class="el-input__icon el-icon-chat-line-round"></i>
                <template slot="prepend">
                  <el-avatar :size="35" :src="me[me.defaultIcon]"></el-avatar>
                </template>
              </el-input>
            </el-form-item>
          </el-form>-->
        </div>
      </el-col>
      <el-col :span="1">
        <div class="grid-content bg-purple"></div>
      </el-col>
    </el-row>
  </el-drawer>


  <div :class="{ winner: dog.winner }">
    <% /* Шапка страницы */ %>
    <section class="banner-area relative" :class="{deathColor:dog.dateDeath}">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <div v-if="dog.winner" class="menu-center">
              <el-popover
                placement="right-start"
                trigger="hover"
                width="320">
                <div class="menu-center"><h4><%= __('World Winner') %></h4>
                  <el-table :data="worldWinner">
                    <el-table-column width="70" property="year" label="<%= __('year') %>"></el-table-column>
                    <el-table-column width="150" property="address" label="<%= __('address') %>"></el-table-column>
                    <el-table-column width="600" property="description" label="<%= __('description') %>"></el-table-column>
                  </el-table>
                </div>
                <i slot="reference" style="font-size: 2em" class="ti-crown"></i>
              </el-popover>
            </div>
            <h1 class="text-white">{{dog.fullName}}</h1>
            <p>{{dog.dateBirth | getAge(me.preferredLocale, dog.dateDeath)}}</p>
            <H2 v-if="dog.nickname" class="text-gold">
              <i v-if="dog.gender === 'sire'" class="el-icon-male"></i>
              <i v-else class="el-icon-female"></i>
              {{dog.nickname}}
            </H2>
            <p v-else class="gender">
              <i v-if="dog.gender === 'sire'" class="el-icon-male"></i>
              <i v-else class="el-icon-female"></i>
            </p>
          </div>
        </div>
      </div>
    </section>

    <% /* Главное Фото */ %>
    <section class="service-area section-gap">
      <div class="container">
        <div class="portfolio_details_inner ">
          <div class="row">
            <% /* Хлебные крошки */ %>
            <div class="col-md-6">
              <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="/"><%= __('Home-menu') %></a></el-breadcrumb-item>
                <el-breadcrumb-item><a href="/dogs/chinese-crested"><%= __('Dogs') %></a></el-breadcrumb-item>
                <el-breadcrumb-item> {{dog.fullName}}</el-breadcrumb-item>
                <!--<el-breadcrumb-item>promotion detail</el-breadcrumb-item>-->
              </el-breadcrumb>
            </div>
            <div class="col-md-6">
              <el-row type="flex" class="row-bg  mt-5 mt-sm-0" justify="end">
                <el-col :span="21">
                  <el-row type="flex" class="row-bg" justify="end">
                    <% /* Заводчик */ %>
                    <el-col :span="11">
                      <h5 class="text-center">
                        <small>breeder:</small>
                        {{dog.breeder.fullName}}
                      </h5>
                    </el-col>

                    <% /* Владелец  */ %>
                    <el-col :span="11">
                      <h5 class="text-center">
                        <small>owner:</small>
                        FirstName LastName
                      </h5>
                    </el-col>
                  </el-row>

                </el-col>

                <% /* Кнопки управления */ %>
                <el-col :span="1">
                  <div v-if="me.isAdmin || me.isSuperAdmin" class="grid-content bg-purple">
                    <el-dropdown @command="handleCommand">
                            <span class="el-dropdown-link">
                              <el-link :underline="false"> <i class="el-icon-more el-icon--right"></i></el-link>
                            </span>
                      <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item icon="el-icon-camera-solid" :command="{com:'c'}">
                          <%= __('Add photo') %>
                        </el-dropdown-item>
                        <el-dropdown-item icon="ti-medall" :command="{com:'a'}">
                          <%= __('Awards') %>
                        </el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </div>
                </el-col>
              </el-row>
            </div>
          </div>
          <% /*ГЛАВНАЯ КАРТИНКА */ %>
          <div class="menu-center " style="position: relative; overflow:hidden ">

            <el-tooltip v-if="dog.sale & dog.price>0" class="item" effect="dark" content="<%= __('For sale') %>" placement="left">
              <el-button class="lenta pointer" @click="goTo2('/dogs/chinese-crested/sale')">
                <div style="color: white;">{{dog.currency | getCurrency()}}{{dog.price}}</div>
              </el-button>
            </el-tooltip>
            <!--<div><img src="/images/crown.png" alt=""></div>-->
            <!--<img :src="dog.images[dog.cover].imageSrc" class="img-fluid" alt="dog.images[dog.cover].name">-->

            <el-image
              :src="rootImg()"
              :key="dog.id"
              :fit="'cover'"
           :class="{deathColor:dog.dateDeath}"
              :scroll-container="'#style-1'"
              :preview-src-list="dog.imagesArrUrl">
              <div slot="placeholder" class="image-slot" style="height:500px;">
                Loading<span class="dot">...</span>
              </div>
              <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline"></i> <%= __('not found') %>
              </div>
            </el-image>
            </div>

        </div>
      </div>
    </section>

    <% /* ИНФОРМАЦИЯ о СОБАКЕ */ %>
    <section class="service-area ">
      <div class="container">
        <div class="menu-between mb-5">
        <h2 ><span><%= __('Dog description') %></span></h2>
        <el-button v-if="dog.isPedigree" type="primary" @click="clickPedigree()" round><%= __('Pedigree') %></el-button>
        </div>
        <div class="menu-center">
          <el-card class="box-card ">
            <div slot="header" class="clearfix">
              <span><%= __('Dog') %></span>
              <el-button style="float: right; padding: 3px 0" v-if="me.isAdmin || me.isSuperAdmin" type="text">
                <el-link icon="el-icon-edit"></el-link>
              </el-button>
            </div>
            <div class="menu-between-v">
              <div class="menu-between">
                <span><%= __('DoB') %>:</span> <span>{{dog.dateBirth | getCreate(me.preferredLocale)}}</span>
              </div>
              <div class="menu-between" v-if="dog.color">
                <span><%= __('Color') %>:</span> <span> {{dog.color}}</span>
              </div>
              <div class="menu-between" v-if="dog.type">
                <span><%= __('Variety') %>:</span> <span>{{dog.type}}</span>
              </div>
              <div class="menu-between" v-if="dog.growth">
                <span><%= __('Size') %>: </span> <span>{{dog.growth}}<%= __('cm') %>
                  ({{dog.growth | getDin}}") / {{dog.weight/1000}}<%= __('kg') %> ({{dog.weight | getFunt}}#)</span>
              </div>
            </div>
          </el-card>

          <% /* ЗАВОДЧИК BREEDER*/ %>
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span>Breeder: {{dog.breeder.fullName}}</span>
              <el-button style="float: right; padding: 3px 0" v-if="me.isAdmin || me.isSuperAdmin" type="text">
                <el-link icon="el-icon-edit"></el-link>
              </el-button>
            </div>
            <div class="menu-center">
              <div class="block">
                <a href="#" @click="clickShowPhoto(dog.breeder)" class="flex justify-content-center">
                  <el-avatar :size="100" :src="dog.breeder.avatar"  @error="errorHandler">
                    <img src="https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png"/>
                  </el-avatar>
                </a>
              </div>
            </div>
          </el-card>
          <% /* ВЛАДЕЛЕЦ OWNER*/ %>
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span>Owner: First Name Last Name</span>
              <el-button style="float: right; padding: 3px 0" v-if="me.isAdmin || me.isSuperAdmin" type="text">
                <el-link icon="el-icon-edit"></el-link>
              </el-button>
            </div>
            <div class="menu-center">
              <div class="demo-basic--circle">
                <div class="block">
                  <el-avatar :size="100" :src="me.gravatar"></el-avatar>
                </div>
              </div>
            </div>
          </el-card>

          <% /* РОДИТЕЛИ PARENTS */ %>
          <el-card class="box-card " v-for="(parent, index) of dog.parents" :key="'p-' + index">
            <div slot="header" class="clearfix">
              <span><i :class="[parent.gender==='sire' ? 'el-icon-male':'', 'el-icon-female']"></i> {{parent.gender}}:</span> <span
                @click="goTo2(parent.detail)" class="pointer">{{parent.fullName}}</span>
              <el-button style="float: right; padding: 3px 0" v-if="me.isAdmin || me.isSuperAdmin" type="text">
                <el-link icon="el-icon-edit"></el-link>
              </el-button>
            </div>
            <div class="menu-between">
              <span><%= __('Size') %>: </span> <span>{{parent.growth}}<%= __('cm') %>
                ({{parent.growth | getDin}}") / {{parent.weight/1000}}<%= __('kg') %> ({{parent.weight | getFunt}}#)</span>
            </div>
            <div v-if="parent">
              <template>
                <el-carousel trigger="click" :autoplay="false" indicator-position="none">
                  <el-carousel-item v-for="(img, index) of parent.imgI7" :key="img.id" class="menu-center">
                    <p class="medium">{{ parent.description }}</p>
                    <img :src="img.imageSrc" style="width: auto; height: 300px; " alt="">
                  </el-carousel-item>
                </el-carousel>
              </template>
            </div>
          </el-card>
        </div>
      </div>
    </section>

    <% /* Content */ %>
    <section class="portfolio_details_area ">
      <div class="container">
        <div class="portfolio_details_inner ">
          <div class="row">
            <% /* КАРТИНКИ СОБАКИ */ %>
            <div class="col menu-center">
              <div v-for="(img ,index, key) in dog.images" :key="index + '-DOGS'">
                <picture @click="clickShowPhoto(img)" class="pointer">
                  <source media="(min-width: 1240px)" :srcset="dog.imagesMin[index].imageSrc">
                  <source media="(max-width: 414px)" :srcset="dog.imgI7[index].imageSrc">
                  <img :src="img.imageSrc" class="portrait" :alt="img.name">
                </picture>
              </div>
            </div>
          </div>
          <div class="row ">
            <% /* Полное описание собаки */ %>
            <div class="col ">
              {{dog.description}}
            </div>
          </div>

        </div>
      </div>
    </section>
    <!--<router-view></router-view>-->
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
