<div id="terms">
  <div class="container">
    <h1><%= __('Terms of service') %></h1>
    <hr/>
    <p><%= __('There are some simple basic rules that you must agree with before using Poale Ell. Playing by these rules is a mandatory part of using our application, therefore, if you have any questions about them, call the phone number on the main page.') %></p>

    <h3><%= __('Poale Ell agreement') %></h3>
    <p><%= __('By using or signing up for Poale Ell, you are agreeing to be bound by the following terms and conditions') %>.</p>
    <p><%= __('By checking the corresponding box “I have read and agree to the terms of service”, you accept the “Agreement”.') %></p>

    <h5>1. Poale Ell <%= __('services') %></h5>
    <p><%= __('In exchange for your payment of the applicable subscription fee, you may request Poale Ell services, as described on our website at ') %> <%= sails.config.custom.baseUrl %>. <%= __('We will provide the Poale Ell services in accordance with this Agreement and the other terms and conditions described on our website at') %> <%= sails.config.custom.baseUrl %>.</p>

    <h5>2. Poale Ell <%= __('account') %></h5>
    <p><%= __('To become a customer, you must fill out a form and create an account with your first name, last name, email address and any other information specified as necessary. We may reject any application for an account for any reason at our sole discretion. You acknowledge that we will use the email address provided by you as the primary method of communication. You are responsible for the security of your account password. We cannot and will not be liable for any loss or damage arising from non-compliance with the security requirements of the account and password.') %></p>
    <p><%= __('If you place an order and sign up for an account on behalf of your employer, your employer will be deemed to be the customer for the purpose of this Agreement, and you represent and warrant that you have the authority to bind your employer to this Agreement. Each customer is responsible for assuring that its employees, agents and subcontractors comply with this Agreement.') %></p>

    <h5>3. <%= __('Fees') %></h5>
    <p><%= __('You will pay a fee for your subscription as specified in your Poale Ell order form.  Fees are based on the subscription term and not actual usage, and fees paid are non-refundable.') %></p>

    <h5>4. <%= __('Termination') %></h5>
    <p><%= __('Either party may terminate this Agreement at any time, with or without cause, effective immediately upon written or electronic notice. Upon termination of this Agreement, all rights granted to you hereunder will immediately cease, including but not limited to the right to access the Account, unless otherwise determined in our sole discretion.') %></p>

    <h5>5. <%= __('Intellectual property rights') %></h5>
    <p><%= __('You agree not to provide us with any confidential or proprietary information. Each party acknowledges and agrees that the other party may freely use and otherwise commercially exploit any ideas, feedback or suggestions provided by it to the other party.') %></p>

    <h5>6. <%= __('Disclaimers and limitation of liability of warranty') %></h5>
    <p><strong><%= __('THE SERVICES ARE PROVIDED “AS-IS” AND WE EXPRESSLY DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE.') %></strong></p>
    <p><strong><%= __('The Internet resource is provided on an “as is” basis, that is, without guarantees of the quality and suitability of the Internet resource for any explicit or implied purposes. The Internet resource does not guarantee that it will work continuously and accurately. The Internet resource has the right (and this is an essential condition for the provision of services), without giving any reason to refuse access to the Internet resource to all Users or any of them, temporarily or permanently, to delete any information or any content, data and information posted on the Internet pages resource. The Internet resource reserves the right to suspend the provision of services to Users at any time without explanation. The Internet resource does not guarantee and is not responsible for the accuracy, relevance, safety and reliability of information, data posted on third-party Internet resources. When clicking on the indicated links, the User realizes that he acts solely at his own risk. The Internet resource does not guarantee the safety of the content posted by the Users on the pages of the Internet resource, therefore, if the User is interested in saving any content posted within the Internet resource, the User must use other ways to save the necessary information. The user confirms that he uses the Internet resource at his own risk. An Internet resource does not guarantee that any information uploaded by Users within the Internet resource will meet the criteria of reliability, accuracy and relevance. The Internet resource does not guarantee that the information posted by other Users cannot cause moral harm, harm to health or loss to the User.') %></strong></p>

    <h5>7. <%= __('General provisions') %></h5>
    <p><%= __('This Agreement sets forth the entire agreement and supersedes any and all prior agreements, written or oral, of the parties with respect to the subject matter hereof. We reserve the right to update and change the Agreement prospectively by posting updates and changes on our website,') %> <%= sails.config.custom.baseUrl %>. <%= __('You are advised to please check the Agreement from time to time for any updates or changes that may impact you. If a significant change is made, we will provide reasonable notice by email and an opportunity to terminate this Agreement if you do not agree with the change.') %></p>
    <p><%= __('The parties to this Agreement are independent contractors. Neither party is an agent, representative or related entity of the other party. Nothing in this Agreement is intended to create, nor will it be construed as creating, any exclusive arrangement between the parties to this Agreement. This Agreement does not restrict either party from entering into similar arrangements with others. Each party understands that the other party may now or in the future be involved in developing or providing competitive products or services. Neither party is liability for any failure or delay caused by any circumstance or event beyond its reasonable control.') %></p>

    <p><strong><%= __('Last updated') %>: {{NEW_APP_CREATION_CALENDAR_DATE}}</strong></p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
